<h1>Listing pushes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Sent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pushes.each do |push| %>
  <tr>
    <td><%= push.title %></td>
    <td><%= push.body %></td>
    <td><%= push.sent %></td>
    <td><%= link_to 'Show', push %></td>
    <td><%= link_to 'Edit', edit_push_path(push) %></td>
    <td><%= link_to 'Destroy', push, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Push', new_push_path %>
