<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @push.title %>
</p>

<p>
  <b>Body:</b>
  <%= @push.body %>
</p>

<p>
  <b>Sent:</b>
  <%= @push.sent %>
</p>


<%= link_to 'Edit', edit_push_path(@push) %> |
<%= link_to 'Back', pushes_path %>
