<% page_title "BEAUTYMEETS > #{@collection.try(:title)} by #{@collection.author.try(:name)}" %>
<% page_thumb "#{full_url(@collection.thumbnail.image_url)}" if @collection.thumbnail.present? %>
<% page_desc "Discover, Learn, and Be beautiful in BEAUTYMEETS!!" || (@collection.title.present? ? "#{@collection.title}" : "") %>

<div style="height:90px; position:relative; ">
  <h4 class="subheader" style="letter-spacing:-0.1px; position:absolute; bottom:10px; ">
    <%= render 'layouts/go_back' %>
        <%= @collection.title %>
        <%= link_to "Edit", edit_collection_path if user_signed_in? && current_user.can_update?(@collection) %>
  </h4>
  <p><%= @collection.description %></p>

  <div class="fb-like" data-href="<%= collection_url(@collection) %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
  </div>
  <p style="margin-bottom:4px;"></p>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="text-center">
      <%= image_tag @collection.thumbnail.image_url(:large) if @collection.thumbnail %>
      
    </div>
  </div>
</div>

<div class="row">
<% if @collection.collectings %>
  <% @collection.collectings.each do |col| %>
      <% collection = col.collectable.class.find(col.collectable_id) %>
      <% if col.collectable_type == 'Item' %>
        <%= render partial: 'items/card', locals: {item: collection} %>
      <% elsif col.collectable_type == 'Video' %>
        <%= render partial: 'videos/card', locals: {video: collection} %>
      <% elsif col.collectable_type == 'Tutorial' %>
        <%= render partial: 'tutorials/card', locals: {tutorial: collection} %>
      <% elsif col.collectable_type == 'Post' %>
        <%= render partial: 'posts/card', locals: {post: collection} %>
      <% else %>
      <% end %>
  <% end %>
<% end %>
</div>

<% if user_signed_in? && current_user.can_update?(@collection) %>
<div class="row" style="">
  <div class="small-12 columns " >
    <div>
      <h4 class="subheader"><small>다른 이미지</small></h4>
      <div class="row " style="">
        <div class="small-12 columns">
        <% if !@pictures.nil? %>
          <% @pictures.each do |p| %>

                  <div class="left" style="margin:10px;">
                    <img src="<%= p.image_url(:small).to_s %>">
                    <%= simple_form_for @collection, url: "", :input_html => {method: :put} do |f| %>
                      
                      <%= f.input :picture_id, :as => :hidden, :input_html => {:value => p.id} %>
                      <%= f.button :submit, "Thumbnail!", :class => "secondary tiny" %>
                      <%= link_to 'x', [@collection, p], :data => { :confirm => 'Are you sure?' }, method: :delete   %>
                    <% end %>
                  </div>

                
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <%= render 'pictures/form' %>
  </div>
</div>
<% end %>