<div class="progress small-12 success radius" style="border:0; margin-top:30px;">
  <span class="meter" style="width: 75%; background:#60DCC6; height:10px;"></span>
</div>
<h3 class="subheader"><strong>피부톤</strong>을 체크해주세요.</h3>
<%= simple_form_for @member, url: wizard_path do |f| %>
	<fieldset>
	    <legend> 피부 밝기 </legend>
	  <%= f.input :skin_brightness_list, :as => :check_boxes_label, :collection => Member.tag_counts_on("skin_brightnesses").map(&:name), :hint => "Please check all that apply", :label => "", :item_wrapper_class => "form_input"  %>
	</fieldset>
	<fieldset>
	    <legend> 웜톤? 쿨톤? </legend>
	  <%= f.input :skin_tone_list, :as => :check_boxes_label, :collection => Member.tag_counts_on("skin_tones").map(&:name), :hint => "Please check all that apply", :label => "", :item_wrapper_class => "form_input"  %>
	</fieldset>
	<fieldset>
	    <legend> 피부 색깔 </legend>
	  <%= f.input :skin_color_list, :as => :check_boxes_label, :collection => Member.tag_counts_on("skin_colors").map(&:name), :hint => "Please check all that apply", :label => "", :item_wrapper_class => "form_input"  %>
	</fieldset>

	<%= f.button :submit, "Continue" %>
	<%= link_to "Skip", next_wizard_path, :class => "button secondary" %>
<% end %>

