<% if user_signed_in? %>
    <% if bookmarked?(current_user.id, request.path) %>
      <div id='bookmark_star' ><%= link_to image_tag("/assets/bookmarked.png", :style => "width:118px; height:34px;"), "/bookmarks/toggle?url=#{request.path}", :remote => true %></div>
    <% else %>
      <div id='bookmark_star' ><%= link_to image_tag("/assets/unbookmarked.png", :style => "width:118px; height:34px;"), "/bookmarks/toggle?url=#{request.path}", :remote => true %></div>
    <% end %>
<% else %>
	<div id='bookmark_star' >
		<%= link_to image_tag("/assets/unbookmarked.png", :style => "width:118px; height:34px;"), "#", :onClick => "alert('로그인 먼저 해주세요');" %>
		<p>
		<a href="<%= new_user_registration_path %>">회원가입</a>
		| <a href="<%= new_user_session_path %>">로그인</a>
		</p>
      </div>
<% end %>