<h1>Listing suggests</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suggests.each do |suggest| %>
  <tr>
    <td><%= suggest.user %></td>
    <td><%= suggest.title %></td>
    <td><%= suggest.description %></td>
    <td><%= link_to 'Show', suggest %></td>
    <td><%= link_to 'Edit', edit_suggest_path(suggest) %></td>
    <td><%= link_to 'Destroy', suggest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Suggest', new_suggest_path %>
