<% if activity.trackable %>

<div class="row">
  <div class="small-12  columns ">

    <%= link_to image_tag(activity.owner.image_url(:very_small), :style => "width:40px; height:40px;"), (activity.owner.has_role? :admin) ? "#" : beautystar_path(activity.owner.profile) %>

    <%= link_to activity.owner.name || activity.owner.email, (activity.owner.has_role? :admin) ? "#" : beautystar_path(activity.owner.profile) if activity.owner %>님이 <%= link_to activity.trackable.title, beautyclass_path(activity.trackable) %>를 개설하였습니다.

  </div>
</div>
<div class="row">
  <div class="small-10 small-offset-1 columns">
    <%= link_to image_tag(activity.trackable.thumbnail.image_url(:small)), beautyclass_path(activity.trackable) if activity.trackable.thumbnail.present? %>
    구경하러 가기
	 <span class="pull-right" style=" color:#AAA;"><small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small></span>
<% end %>
  </div>
</div>
