<%= render 'members/member_header' %>

<div class="row">
  <div class="small-12  columns" style="background:#FFF;  padding:20px;">
    <%= render 'members/sub_nav' if current_user.has_role? :member  %>

    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel2-1">이름</a></dd>
      <dd><a href="#panel2-2">프로필이미지</a></dd>
      <dd><a href="#panel2-3">패스워드</a></dd>
      <dd><a href="#panel2-4">탈퇴</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="panel2-1">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, "data-abide" => "" }) do |f| %>
            <%= f.error_notification %>

            <div class="email-field">
              <label>Your Email <small>Not Edited</small></label>
              <%= f.email_field :email, label: "Email can't be editted", :disabled => true %>
            </div>

            <div class="name-field">
              <label>Your name </label>
              <%= f.text_field :username, :required => false %>
            </div>
            <%= f.button :submit  %>
        <% end %>
      </div>
      <div class="content" id="panel2-2">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, "data-abide" => "" }) do |f| %>
          <%= f.error_notification %>

           
            <div class="image-field">
              <label>Thumnail image </label>
              업로드된 이미지 <%= image_tag f.object.image_url(:small) if f.object.image? %><br/>
              <%= f.file_field :image, :required => false, :class => "file", :type => "file" %> 
              <%= f.input :remote_image_url %> 
              <div class="upload-preview">
                  <img width="300" />
              </div>
            </div>

            <%= f.button :submit  %>
        <% end %>

        <script type="text/javascript">
            var preview = $(".upload-preview img");

            $(".file").change(function(event){
               var input = $(event.currentTarget);
               var file = input[0].files[0];
               var reader = new FileReader();
               reader.onload = function(e){
                   image_base64 = e.target.result;
                   preview.attr("src", image_base64);
               };
               reader.readAsDataURL(file);
            });
        </script>
      </div>
      <div class="content" id="panel2-3">
        <h6 class="subheader">대문자, 소문자, 숫자가 모두 1개 이상은 포함되어야 합니다.</h6>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, "data-abide" => "" }) do |f| %>
          <% if resource.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(resource.errors.count, "error") %> prohibited this brand from being saved:</h2>

                <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
          <% end %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            
            <div class="password-field">
              <label>New Password </label>
              <%= f.password_field :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
              <label>New Password Confirmation</label>
              <%= f.password_field :password_confirmation, :required => false %>
            </div>


              <% if f.object.encrypted_password.present? %>
                <label>Current Password </label>
                <%= f.password_field :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
              <% end %>
            <%= f.button :submit %>
        <% end %>
      </div>
      <div class="content" id="panel2-4">
        <p>정말 탈퇴하시겠어요? <%= link_to "Membership OUT!!", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
      </div>
    </div>
  </div>
</div>