<h2>Edit Account</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, "data-abide" => "" }) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(resource.errors.count, "error") %> prohibited this brand from being saved:</h2>

        <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    
    <div class="password-field">
      <label>New Password </label>
      <%= f.password_field :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <label>New Password confirmation </label>
      <%= f.password_field :password_confirmation, :required => false %>
    </div>

      <% if f.object.encrypted_password.present? %>
        <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
      <% end %>

    <%= f.submit %>
<% end %>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
