
<h2 class="text-center" style="padding:20px;">JOIN</h2>
<%= current_user if user_signed_in? %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <%= f.input :email, :required => true, :autofocus => true %>

    <%= f.input :username, :required => false %>
    <%= f.input :image, :required => false, :class => "file", :type => "file" %> 
    업로드된 이미지 <%= image_tag f.object.image_url(:medium) if f.object.image? %><br/>
    <div class="upload-preview">
        <img width="300" />
    </div>

  <% if f.object.password_required? %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  <% end %>

  <p>뷰티밋츠의 <%= link_to "이용약관(Terms of Service)", terms_path %> 과 <%= link_to "개인정보 수집 및 이용(Privacy Policy)", privacy_path %>을 잘 확인하시고 아래 가입버튼(Sign up)을 눌러주세요.</p>
    <%= f.button :submit, "Sign up" %>
    <%= link_to "Sign up with FB", user_omniauth_authorize_path(:facebook), :class => "button secondary " %>
    <%= link_to "Sign up with TW", user_omniauth_authorize_path(:twitter), :class => "button secondary " %>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
    var preview = $(".upload-preview img");

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
</script>