
<div style=" font-size:12px; background-color:#FAFAFA; text-align:center;  padding:0 0 50px 0;">

	<img style="width:50%; min-width:300px; max-width:600px;margin:30px auto;" src="http://www.beautymeets.com/assets/logo_black.png">

	<div style="text-align:left !important; width:80%; min-width:300px; max-width:600px;margin:0 auto;">
		<div class="page-header">
			<h1>Beautyclass Request from <%= @user.try(:name) || @user.try(:email) %></h1>
		</div>

		<p>안녕하세요, 뷰티밋츠입니다. </p>
		<p>
			뷰티밋츠(BEAUTYMEETS)에서 <%= @user.try(:name) || @user.try(:email) %>(<%= @user.email %>)님께서 beauty class를 요청하셨습니다. 
			요청정보는 아래와 같습니다.
		</p>

		<div style="">
			<strong>요청클래스</strong> : <%= @beautyclass.try(:title) %><br/>
			<strong>요청자</strong> : <%= @checkout.try(:buyer_name) %><br/>
			<strong>연락처</strong> : <%= @checkout.try(:buyer_tel) %><br/>
			<strong>궁금한점</strong> : <%= @checkout.try(:description) %>
		</div>
 		
 		<div style="text-align:right; margin:20px 20px;">-  뷰티밋츠 팀(hellobeauty@reallplay.com) -</div>

	</div>
</div>