<% if activity.trackable %>
<div class="row">
  <div class="small-12 columns">
    <%= link_to image_tag(activity.owner.image_url(:small), :class => "circular", :style => "width:40px; height:40px;"), beautystar_path(activity.owner.profile) %>
    <%= link_to activity.owner.name.present? ? activity.owner.name : activity.owner.email, beautystar_path(activity.owner.profile) if activity.owner %>님이 <%= link_to activity.trackable.title, activity.trackable %> 튜토리얼을 생성하습니다.
    
  </div>
</div>
<div class="row">
  <div class="small-10 small-offset-1 columns">
    <%= link_to image_tag(activity.trackable.thumbnail.image_url(:small)), tutorial_path(activity.trackable) %>
    구경하러 가기 | 공유하기
      <div class="text-right" style=" color:#AAA;"><small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small></div>
    </div>
  </div>

	
<% end %>

