
	<div id="comment_<%= comment.id %>" class="row comment" >
		<div class="small-12 medium-12 columns"  >
			<h6 class="subheader" style="margin-bottom:0; color:#666;">
				<%= comment.author.present? ? ((comment.author.name != "") ? comment.author.name : comment.author.email.split('@').first) : "사용자 정보가 존재하지 않습니다"  %> :
			</h6>
			<p style="margin-bottom:10px; line-height:110%;  color:#999; " >
				<%= comment.body %>

				<%= link_to "&nbsp;X".html_safe, [@commentable, comment], confirm: 'Are you sure?', method: :delete , remote: true if  user_signed_in? && current_user.can_delete?(comment) %>
				<div class="right" style="width:auto; min-width:100px; color:#CCC; font-size:0.8rem;">
					<span style="margin-left:10px; margin-right:10px;font-size:0.7rem;"><%= time_ago_in_words(comment.created_at) %> ago</span>
					공감&nbsp;
					<span id="comment_<%= comment.id %>_vote">
					<% if user_signed_in? && current_user.can_vote?(comment) %>
						<% if current_user.voted_for?(comment)  %>
							<%= link_to '<i class="fa fa-heart" style="color:#E98A9C;"></i>'.html_safe, polymorphic_path([comment.commentable, comment], :action => "unvote"), remote: true %>
						<% else %>
							<%= link_to '<i class="fa fa-heart-o " style="color:#E98A9C;"></i>'.html_safe, [:vote, comment.commentable, comment], remote: true  %>
						<% end %>
					<% else %>
						<%= link_to '<i class="fa fa-heart-o " style="color:#E98A9C;"></i>'.html_safe, [:vote, comment.commentable, comment], remote: true  %>
					<% end %>
						<span id="comment_<%= comment.id %>_vote_size" style="">
							<%= comment.votes_for.size %>
						</span>
					</span>
				</div>
			</p>

			<div id="comment_<%= comment.id %>_reply" >
				<% if @commentable.reply_enabled %>
					<% comment.children.each do |reply| %>
						<%= render partial: "comments/reply", object: reply %>
					<% end %>
				<% end %>
			</div>

			<dl class="accordion" style="padding-left:10px;" data-accordion>
				<dd class="accordion-navigation">
					<a href="#reply-form-<%= comment.id %>" style="color:#aaa; background:transparent;">
						<i class="fa fa-fw fa-angle-right"></i>답변달기
					</a>
					<div class="content" id="reply_form_<%= comment.id %>">
						<%= render partial: 'comments/reply_form', locals: { parent_com_id: comment.id } %>
					</div>
				</dd>
			</dl>
		</div>
	</div>