
	<div id="comment_<%= comment.id %>" class="row comment" >
		<div class="small-12 medium-12 columns"  >
			<h6 class="subheader" style="margin-bottom:0; color:#ccc;">
				<%= comment.author.present? ? ((comment.author.name != "") ? comment.author.name : comment.author.email.split('@').first) : "사용자 정보가 존재하지 않습니다"  %> :
			</h6>
			<p style="margin-bottom:10px; line-height:110%;  color:#999; " >
				<%= comment.body %>
				<%= link_to "&nbsp;X".html_safe, [@commentable, comment], confirm: 'Are you sure?', method: :delete , remote: true if  user_signed_in? && current_user.can_update?(comment) %>
				<span class="right" style="color:#CCC;">
					<small><%= time_ago_in_words(comment.created_at) %> ago</small>
				</span>
			</p>

			<div id="comment_<%= comment.id %>_reply" >
				<% if @commentable.reply_enabled %>
					<% comment.children.each do |reply| %>
						<%= render partial: "comments/reply", object: reply %>
					<% end %>
				<% end %>
			</div>

			<dl class=" accordion" style="padding-left:10px;" data-accordion >
				<dd >
					<a href="#reply-form-<%= comment.id %>" style="color:#aaa; background:transparent;">
						<i class="fa fa-fw fa-angle-right"></i>답변달기
					</a>
					<div class="content" id="reply_form_<%= comment.id %>">
						<%= render partial: 'comments/reply_form', locals: { parent_com_id: comment.id } %>
					</div>
				</dd>
			</dl>
		</div>
	</div>