<%= simple_nested_form_for(@shop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <%= f.fields_for :location do |l| %>
    <%= render 'locations/location_fields', f: l %>
	<% end %>
	<p><%= f.link_to_add "Add a address", :location %></p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
