
<div class="small-12 medium-<%= 12 / (local_assigns[:cards_in_row] || "2").to_i %>  columns " >
  <div class=" beautyclass-card">
    <div class="text-center " style="position: relative;  ">

	<a  class="beautyclass-card-thumb  " href="<%= beautyclass_path(beautyclass) %>" style="background-image: url( <%= beautyclass.thumbnail.image_url(:medium) if beautyclass.thumbnail.present? %>); background-repeat: no-repeat;">
        
		<div style=" padding:18px 20px; width:100%; background:rgba(255,255,255, 0.7); position:absolute; left:0; bottom:0; ">
			<div class="left" style="margin:0 10px 0 0;">
				<%= image_tag(beautyclass.author.image_url(:very_small), :style => "width:34px; height:34px;") %>
			</div>
			<div class="left text-left" style="color:#333;" >
				<span style="font-size:0.75rem;"><%= "#{beautyclass.author.profile.try(:job_title)}" if !beautyclass.author.has_role?(:admin) %>
				</span><br/>
			      <span style="font-size:1.5rem;"><%= beautyclass.author.try(:name) %>
			      </span>
			</div>
        	</div>
      </a>
    </div>
    <div class="beautyclass-card-desc" style="">
      <h4 class="beautyclass-card-title subheader text-left"  style=" line-height:105%; margin:0;padding:0; ">
        <a href="<%= beautyclass_path(beautyclass) %>" >
          <%= truncate(beautyclass.try(:title), 18) %> <i class="fa fa-angle-right"></i>
        </a>
      </h4>
      <div style="margin:6px 0;"><%= truncate(beautyclass.try(:description), 56) %></div>
      <%= "<span class='label secondary radius'>CLOSED</span>".html_safe if beautyclass.closed? %>
      <%= link_to "<span style='font-size:0.78rem;'><i class='fa fa-file-text-o'></i>&nbsp;Class Review</span>".html_safe, beautyclass.review_url, :target => "_blank" if beautyclass.review_url? %>
    </div>
  </div>
</div>