<div class="row" style="" >
	<div class="large-12 columns" style="">  
		<h3 style="letter-spacing:-0.5px;">Beautyclass</h3>    			
		<hr>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs">
			<% Category.where(parent_id: Category.find_by_name("beautyclass").id).each do |cat| %>
				<li><%= link_to cat.name, { controller: "beautyclasses", cat: cat.id } %></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<%= link_to 'New Beauclass', new_beautyclass_path, :class => "button secondary radius tiny"   if can? :manage, Beautyclass %>

		<%= link_to "참여가능한 클래스 살펴보기", {  controller: "beautyclasses", closed: 0 }, :class => "button secondary radius tiny " %>
		<%= link_to "종료된 클래스 살펴보기", {  controller: "beautyclasses", closed: 1 }, :class => "button secondary radius tiny right" %>
	</div>
</div>

<% 
if @beautyclasses.present? 
%>
<div class="row" >
	<%= render @beautyclasses %>
</div>
<% end %>