<div style="height:90px; position:relative; ">
	<h4 class="subheader" style="letter-spacing:-0.1px; position:absolute; bottom:10px; ">
    		BeautyClass
    	</h4>
</div>

<div class="row " style="">
	<div class="small-12 medium-6 columns">
		<div class="">
			<div class="panel" style="width:100%; border:0; height:42px; background:#FCFCFC; padding: 14px 8px;">
			<% Category.where(parent_id: Category.find_by_name("beautyclass").id).each_with_index do |cat, i| %>
				<div style="width:31%; float:left; font-size:0.8rem; text-align:center;">
					<%= link_to cat.name, { controller: "beautyclasses", cat: cat.id } %>
				</div>
				<div style="float:left;color:#AAA;"><%= "|" if i < (Category.where(parent_id: Category.find_by_name("beautyclass").id).count - 1) %></div>

			<% end %>
			</div>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
		<div id="" class="btn-page-sort" style="margin:0;">		
			<div style="background:#f4f4f4;">
				<ul class="button-group radius" >
					<li><a class="button small <%= 'secondary' if params[:closed] == '1' %> sort"  data-sort="view_count" href=<%= "#{beautyclasses_path}?closed=0" %> >참여가능 클래스</a></li>
					<li><a class="button small <%= 'secondary' if  params[:closed].nil? || params[:closed] == '0' %> sort"  data-sort="published_at" href=<%= "#{beautyclasses_path}?closed=1" %> >종료된 클래스</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<% 
if @beautyclasses.present? 
%>
<div class="row" >
	<div class="small-12 columns">
		<div class="card-outter">
			<div class="row " style="">
				<% @beautyclasses.each do |beautyclass| %>
					<%= render beautyclass %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>