<% page_title "BEAUTYMEETS > #{@beautyclass.try(:title)}" %>
<% page_thumb "#{full_url(@beautyclass.thumbnail.image_url)}" if @beautyclass.thumbnail.present? %>
<% page_desc "Discovery, Learn, and Be beautiful in BEAUTYMEETS!!" || (@beautyclass.title.present? ? "#{@beautyclass.title} 클래스를 만나보세요." : "") %>

<div class="row" style="">
	<div class="small-12 columns " >
		<h6 class="subheader"><%= render "layouts/go_back" %></h6>
		<h3 style="letter-spacing:-0.5px;">Beauclass</h3>
		<%= link_to 'Edit', edit_beautyclass_path(@beautyclass) if can? :author, @beautyclass %> <%= link_to 'Destroy', @beautyclass, :data => { :confirm => 'Are you sure?' }, method: :delete  if can? :author, @beautyclass %>
	</div>
</div>
<div class="row" >
	<div class="small-12 medium-12 columns">
		<div class="" style="width:100%; font-size:9px; color: #666; "></div>
		
		<h2><%= @beautyclass.title %></h2>
		<h3><small class="right"><%= render 'bookmarks/star' %></small></h3>
	</div>
</div>
<div class="row" >
	<div class="small-12 medium-12 columns" >
		<% if @beautyclass.categories.present? %>
			<small>Category : </small>
			<% @beautyclass.categories.each do |category| %>
				&nbsp;<span class=" secondary tiny label"><%= link_to category.name, category_path(category) %></span>
			<% end %>
		<% end %>
		<% if !@beautyclass.closed? && @beautyclass.categories.first.present? && @beautyclass.categories.first.name != "프라이빗 클래스" %>
		<div class="right">
			<span class="right" style=" color:#000; "><strong>정원 <%= @beautyclass.capacity %> 명</strong></span><br/>
			<span class="right" style="  color:#0bbe8c; "><%= @beautyclass.seats_available %>명 참여가능</span>
		</div>
		<% end %>
	</div>
</div>
<div class="row" >
	<div class="small-12 medium-12 columns" >
		<hr>
	</div>
</div>
<div class="row" >
	<div class="small-12 medium-4 columns" > 
		<div class="" >
			<%= image_tag @beautyclass.thumbnail.image_url(:large) if @beautyclass.thumbnail.present? %>
		</div>
	</div>
	<div class="small-12 medium-8 columns" > 

			<%= render :partial => 'pictures/gallery', locals: { :thumb_size => :small } %>
			<%= render 'pictures/form' if (can? :author, @beautyclass)  %>
	</div>
</div>
<div class="row" >
	<div class="small-12 medium-12 columns" >
		<hr>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-8 columns" style="">
		<div class="panel" style="border:0;">	
	      <% if @beautyclass.closed? %>
					<span class="radius alert label">SOLD OUT</span> 클래스가 마감되었습니다. 
				<% end %>
				<p>
					<%= simple_format(@beautyclass.try(:description)) %><br/><%= link_to "후기 보러 가기", @beautyclass.review_url, :class => "button secondary tiny", :target => "_blank" if @beautyclass.review_url.present? %>
				</p>
	    	<p>
	    		<% @beautyclass.tag_list.each do |t| %>
		  	  	<span class="label secondary radius"><%= link_to t, tag_path(t) %></span>
			   	<% end %>
				</p>
		</div>	
		<div class="panel"  style="border:0;">
			<% if @beautyclass.categories.first.present? && @beautyclass.categories.first.name != "프라이빗 클래스" %>
				<p>
					<span ><i class="fa fa-calendar-o"></i> 일시</span><br/>
					<span style=" font-weight:bold;;">
					<%= @beautyclass.start_date.strftime("%Y.%m.%e") if @beautyclass.start_date.present? %>, <%= @beautyclass.start_date.strftime("%I:%M %p") if @beautyclass.start_date.present? %> ~ <%= @beautyclass.end_date.strftime("%I:%M %p") if @beautyclass.end_date.present? %></span>
				</p>	
			<% end %>
			<% if @beautyclass.location.present? %>
				<p>
					<span ><i class="fa fa-map-marker"></i> 장소</span><br/>
					<span class="" style=" color:#666; font-weight:bold;"><%= link_to @beautyclass.try(:location_name), location_path(@beautyclass.location) if @beautyclass.location.present? %></span>
					<%= render :partial => 'locations/location', locals: { location: @beautyclass.location } %>
				</p>
			<% end %>
			<% if @beautyclass.supply.present? %>
				<p>
					<span ><i class="fa fa-check-square-o"></i> 준비물</span><br/>
					<span style="">
					<%= @beautyclass.supply %></span>
				</p>
			<% end %>
		</div>
    <div class="fb-like" data-href="<%= beautyclass_url(@beautyclass) %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

		<div class="panel"  style="border:0;">
			<% if @beautyclass.closed? %>

				<div class="row">
					<div class="small-12 columns">

						<% if @beautyclass.price.nil? || @beautyclass.price == 0 %>

						<% else %>
							<div class="right" style="color:#333; "><span class="right" style="font-size:30px; color:#666; font-family:'Nanum Gothic';  "><strong><%= number_with_delimiter(@beautyclass.price, :delimiter => ',') %></strong>&nbsp;<small>won</small></div>
						<% end %>
					</div>
					<a href="#"  class="button secondary expand disabled" ><%= "클래스가 마감되었습니다." %></a>
				</div>
			<% else %>

				<div class="row">

					<% if @beautyclass.categories.first.present? && @beautyclass.categories.first.name != "프라이빗 클래스" %>
						<div class="small-12 columns">
							<div>							
								<span class="left" style="color:#666;  ">현재 <%= @beautyclass.capacity %>명중&nbsp;</span>
								<span class="left" style="color:#0bbe8c; "><%= @beautyclass.seats_available %>명 참여가능 합니다.</span>				
							</div>
						</div>
					<% end %>
					<div class="small-12 columns">

						<% if @beautyclass.price.nil? || @beautyclass.price == 0 || @beautyclass.categories.first.name == "프라이빗 클래스" %>

						<% else %>
							<div class="right" style="color:#333; "><span class="right" style="font-size:30px; color:#666; font-family:'Nanum Gothic';  "><strong><%= number_with_delimiter(@beautyclass.price, :delimiter => ',') %></strong>&nbsp;<small>won</small>
							</div>
						<% end %>
					</div>
					<div class="small-12 columns">
						<%= render "checkout_status" %>
					</div>
				</div>
			<% end %>

		</div>


		<div class="row" style="">
			<div class="large-12 columns" style="margin:20px 0 0 0;">		

				Comments(<%= @beautyclass.comments.count %>)
				<%= render partial: "comments/form", locals: { form_message: "#{@beautyclass.title}에 대한 질문들을 남겨주세요." }    %>    
				<%= render "comments/comments" %>
			</div>
		</div>
	</div>
	<div class="small-12 medium-4 columns" > 
		<div class="user-avatar "  style="margin:10px 0 0 0; height:44px;"> 
			<h6 class="subheader" style="font-size: 0.8em;">
				<%= render partial: 'users/avatar_thumb', locals: { user: @beautyclass.author } if @beautyclass.author.present? && @beautyclass.author.image.present? %>
				<strong><%= link_to (@beautyclass.author.has_role? :admin) ? "BEAUTYMEETS " : @beautyclass.author.try(:name), beautystar_path(@beautyclass.author) %></strong>
				<%= (@beautyclass.author.has_role? :admin) ? "| 뷰티밋츠" : " | #{@beautyclass.author.profile.try(:job_title)}" %>
			</h6>	
		</div>
		<div  style=" color:#666; margin:20px 0 0 0 ;">
			<%= simple_format(truncate(@beautyclass.author.profile.try(:introduction), 200)) %>
		</div>
		
		<%= render partial: "pricing_table" %>
	</div>
</div>


<div id="modal-beautyclass-regist" class="reveal-modal medium"  data-reveal>	
	<% if user_signed_in? %>
		<% if @beautyclass.categories.first.present? && (@beautyclass.categories.first.name == "프라이빗 클래스") %>
				<%= render :partial =>  "private_class_regist"  %>
		<% else %> 
				<%= render :partial =>  "regular_class_regist"  %>
		<% end %>
	<% else %>
	  	<%= render :template => "devise/sessions/new" %>
	<% end %>
	<a class="close-reveal-modal">&#215;</a>
</div>