

<div class="row">
  <div class="small-12 medium-8 medium-centered large-8 large-centered columns">
  	<div style="height:90px; position:relative; ">
  		<h4 class="subheader" style="letter-spacing:-0.1px; width:100%; position:absolute; bottom:10px; ">
			<%= render 'layouts/go_back' %>
    		Password reset <small>아래 메일주소를 작성해주세요, 안내메일을 보내드립니다.</small>
    	</h4>
    </div>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "비밀번호 초기화" %>
  </div>
<% end %>
