<div class="small-12 medium-<%= 12 / (local_assigns[:cards_in_row] || "4").to_i %>  columns " style="padding:0 10px;">
  <div class="video-card">
    <div class="text-center " style="position: relative; ">
      <a class="video-card-thumb" href="<%= video_path(video) %>" style='background-image: url(<%= "#{video.thumb_url}" %>); '>
               
        

      <i class="fa fa-youtube-play fa-2x" style="position:absolute; left:10px; bottom:6px;  color:#FFF; "></i>
      </a>
    </div>
    <div class="video-card-desc" style="">
      <div class="video-card-title text-left"  style="margin:0;padding:0; ">
        <a href="<%= video_path(video) %>" >
           <% 
        if video.categories.present? 
          category_name ||= "" 
          video.categories.each do |category| 
            category_name += (category.name + ' ') 
          end 
        %> 
          <span class="left " style="color:#CDD9D7;"><%= truncate(category_name, 22) %> </span>
          
        <% end %>
        
          <%= truncate(video.try(:title), 14) %>
        </a>
        <span class="right" style="color:#F59C66;"><%= "New" if (Time.zone.now - video.created_at).to_i / 1.day <= 3 %></span>
      </div>
      <h5 class="subheader  text-left" style="margin:-10px 0; padding:0;  color:#999; ">
        <span class="group_name" >
          <small>
            <strong><%= link_to video.video_group.try(:name), video_group_path(video.video_group) if video.video_group.present? %></strong>
          </small>
        </span>
        <span class="right" >
          <small>
          <i class="fa fa-eye"></i> <%= filtered_number(video.view_count) %>
          </small>
        </span>
      </h5>    
      <h5 class="subheader " style=" bottom: 0; right:0;   ">
        <small>
          <%= #video.unread?(current_user) ? "<strong>Not viewed</strong>".html_safe : "Viewed" if user_signed_in? 
          %>
          
        </small>
      </h5>
    </div>
  </div>
</div>
