<%= link_to 'New', new_video_path if user_signed_in? && current_user.can_create?(Video) %>


					<div id="page-head" class=" head-cover" style="background-image: url(<%= @head_video.thumb_url %>); background-size:100%; background-position:center; 
  -moz-box-shadow: inset 0 0 200px -10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0 0 200px -10px rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 200px -10px rgba(0, 0, 0, 1);">
					  <h3 class="head-title subheader" style=" text-align:center; color:#FFF;"><%= "#{@videos.count} Videos " %>개의 뷰티비디오를 만나보세요.</h3>
					  <div style="max-width:480px; height:auto; margin:0 auto; z-index:5;">
					    <div id="head-video" style="box-shadow:0 10px 10px #CCC;" >    	
					      <div class="flex-video widescreen" style="display:block;">
					      	<% if @head_video.present? %>
					        <iframe id='<%= "video-head" %>'width="360px" height="180px" src='<%= @head_video.video_url  %>?autohide=1' frameborder="0" allowfullscreen></iframe>
					        <% end %>
					      </div>
					    </div>
					  </div>					  
					</div>

					<div id="head-dummy-div" ></div>


			
			<div class="row">
				<div class="small-12 small-centered columns" style="padding:0;">

				<!-- <div id="container" > -->
					<div id="videos">		
						<div data-magellan-expedition="fixed" style="background: #eee; padding:0; margin:0;">
							<ul class="button-group radius" style="padding-top:10px;  width:200px; margin:0 auto; ">
						  <li><a class="small button <%= 'secondary' if params[:order].nil? || params[:order] == 'newly' %> sort"  data-sort="view_count" href=<%= "#{videos_path}?order=popular" %>>Popular</a></li>
						  <li><a class="small button <%= 'secondary' if params[:order].nil? || params[:order] == 'popular' %> sort"  data-sort="published_at" href=<%= "#{videos_path}?order=newly" %>>Newly</a></li>
							</ul>
						</div>
						<div class="list">	  
							<%= render @videos %>
  						</div>						
					</div>
				<!-- </div>		-->
			  </div>
			</div>

					<div class="pagination-centered"><%= will_paginate @videos, previous_label: "&laquo;".html_safe, next_label: "&raquo;".html_safe , renderer: FoundationPagination::Rails %></div>