<%= link_to 'New', new_video_path if user_signed_in? && current_user.can_create?(Video) %>

<div class="row" >
	<div class="small-12 columns" >
		<div class="panel tutorial-index-head" style="border:0; margin-bottom:0; padding:0; background: url('/assets/video_header_bg.jpg');">
      <div class="row" style="margin:0;">
      	<div class="medium-8 columns" style=" padding:0; " >
					<div class="flex-video widescreen" style="display:block; margin:0; ">
					  <% if @head_video.present? %>
					  	<iframe id='<%= "video-head" %>'width="360px" height="180px" src='<%= @head_video.video_url  %>?autohide=1' frameborder="0" allowfullscreen></iframe>
					  <% end %>
					</div>
				</div>

				<div class="medium-4 columns"  style=" padding:0;">
					<div class="index-head-title" style="">
					<div class="index-head-title-inner"  style="">
						<h4 class="subheader " style="color:#FFF; line-height:106%; letter-spacing:-0.5px;"> 
						뷰티 블로거들이 전하는
						<strong>깨알같은 뷰티노하우</strong>를
						만나보세요<br/>
						<br/>
						<span style="color:#9bfff4;">BEAUTYMEETS</span>
						</h4>
					</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row " style="">
	<div class="small-12 small-centered columns" style="">
		<div class="tutorial-index-title">
			<h4 class="subheader left" style="margin-top:30px;">
				&nbsp;BeautyVideo&nbsp;

        <small>
          <%= "가장 많이 본 비디오" if params[:order] == 'popular' %>
          <%= "최근 업데이트된 비디오" if params[:order].nil? ||  params[:order] == 'newly' %>
        </small>
			</h4>

			<div id="tutorials" class="right" style="margin-top:30px; margin-bottom:10px; ">		
				<div style="background:#f4f4f4;">
          <ul class="button-group radius" >
          <li><a class="button small <%= 'secondary' if params[:order] == 'newly' %> sort"  data-sort="view_count" href=<%= "#{videos_path}?order=popular" %>>인기순</a></li>
          <li><a class="button small <%= 'secondary' if params[:order].nil? || params[:order] == 'popular' %> sort"  data-sort="published_at" href=<%= "#{videos_path}?order=newly" %>>최신순</a></li>
          </ul>
        </div>
			</div>
		</div>
	</div>
</div>


<div class="row " style="">
	<div class="small-12 small-centered columns" style="">
			<div class="video-card-outter">
				<div class="row " style="">
					<%= render @videos %>
				</div>

			<div class="pagination-centered">
			<%= will_paginate @videos, previous_label: '<i class="fa fa-angle-left"></i>'.html_safe, next_label: '<i class="fa fa-angle-right"></i>'.html_safe , renderer: FoundationPagination::Rails %>
			</div>
			</div>
	</div>
</div>