
<div class="small-12 medium-<%= 12 / (local_assigns[:cards_in_row] || "3").to_i %>  columns " style="margin-bottom:30px;">
  <div class="tutorial-card">
    <div class="text-center" style="position: relative; margin:0 auto; padding:6px;">
      <a class="tutorial-card-thumb" href="<%= tutorial_path(tutorial) %>" style='background-image: url("<%= tutorial.thumbnail.image_url(:medium) if tutorial.thumbnail.present? %>");'>
        <% if tutorial.categories.present? %>
          <% tutorial.categories.each do |category| %>
            &nbsp;<span class=" secondary label right" style="position:absolute; right:6px; top:6px;"><%= category.name %></span>
          <% end %> 
        <% end %>

      <i class="fa fa-play-circle fa-3x" style="padding-top:25%;  color:#FFF; margin:0 auto;"></i>
      </a>
    </div>
    <div class="tutorial-card-desc" style="">
      <h6 class="tutorial-card-title subheader text-left" >
        <a href="<%= tutorial_path(tutorial) %>" >
          <%= truncate(tutorial.try(:title), 44) %>
        </a>
        &nbsp;<span class="right" style="color:#ff8008;"><%= "New" if (Time.zone.now - tutorial.created_at).to_i / 1.day <= 3 %></span>
      </h6>
      <h5 class="subheader  text-left" style="margin:5px 10px;  color:#999; ">
        <%= render partial: 'users/avatar_thumb', locals: { user: tutorial.author } if tutorial.author.present? && tutorial.author.image.present? %>
        <span class="group_name" >
          <small>
            <strong><%=  link_to tutorial.author.try(:name), beautystar_path(tutorial.author.profile) %></strong>
          &nbsp;<%= "| #{tutorial.author.profile.job_title}" if tutorial.author.profile.job_title.present? %>
          </small>
        </span>
      </h5>    
      <h5 class="subheader " style="position: absolute; bottom: 0; right:0; margin:0 10px;  color:#999; ">
        <small>
          <%= #tutorial.unread?(current_user) ? "<strong>Not viewed</strong>".html_safe : "Viewed" if user_signed_in? 
          %>&nbsp;
          <i class="fa fa-eye"></i> <%=  tutorial.view_count.nil? ? "0" : number_with_delimiter(tutorial.view_count) %>
        </small>
      </h5>
    </div>
  </div>
</div>
