<%= link_to 'New', new_tutorial_path if (can? :create, Tutorial) %>


			<div class="row">
				<div class="small-12 small-centered columns" style="padding:0;">


					<div id="tutorials">		

						<div data-magellan-expedition="fixed" style="background: #eee; padding:0; margin:0;">
							<ul class="button-group radius" style="padding-top:10px;  width:200px; margin:0 auto; ">
						  <li><a class="small button <%= 'secondary' if params[:order].nil? || params[:order] == 'newly' %> sort"  data-sort="view_count" href=<%= "#{tutorials_path}?order=popular" %>>Popular</a></li>
						  <li><a class="small button <%= 'secondary' if params[:order].nil? || params[:order] == 'popular' %> sort"  data-sort="published_at" href=<%= "#{tutorials_path}?order=newly" %>>Newly</a></li>
							</ul>
						</div>
						<div class="list">	  
							<%= render @tutorials %>
  					</div>						
					</div>
			  </div>
			</div>

			<div class="pagination-centered"><%= will_paginate @tutorials, previous_label: "&laquo;".html_safe, next_label: "&raquo;".html_safe , renderer: FoundationPagination::Rails %></div>
