
<% page_title "BEAUTYMEETS > #{@tutorials.first.title}" %>
<% page_thumb "#{full_url(@tutorials.first.try(:thumbnail).image_url)}" if @tutorials.first.thumbnail.present? %>
<% page_desc "Discover, Learn, and Be beautiful in BEAUTYMEETS!! #{@tutorials.first.title} 영상을 만나보세요." %>

	<div class="row" style="background: url('/assets/header_bg.jpg'); ">
		<div class="medium-8 columns" style="padding:0; ">

			<div class="flex-video widescreen vimeo" style="margin:0; ">
				<iframe width="420" height="315" src="<%= @head_tutorial.vimeo_url %>?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe> 
			</div> 
		</div>
		<div class="medium-4 columns" style="padding:0; ">
			<h4 class="subheader" style="color:#FFF; padding:3.5rem 1rem 2rem 1rem; line-height:105%; letter-spacing:-0.5px;"> 
				청담동 아티스트들이 전하는 <br/>
				<strong>리얼 뷰티 튜토리얼</strong>을<br/>
				만나보세요<br/>
				<br/>
				<span style="color:#9bfff4;">BEAUTYMEETS</span>
			</h4>
		</div>
	</div>

	<div class="row" >
		<div class="small-12 small-centered columns" style="">
			<h4 class="subheader left" style="margin-top:30px;">
				&nbsp;Tutorial&nbsp;

        <small>
          <%= "최근 2주간 사람들이 가장 많이 본 튜토리얼" if params[:order] == 'popular_last2w' %>
          <%= "사람들이 가장 많이 본 튜토리얼" if params[:order] == 'popular' %>
          <%= "최근 업데이트된 튜토리얼" if params[:order] == 'newly' %>
        </small>
				<small><%= link_to '<i class="fa fa-plus fa-fw"></i>New'.html_safe, new_tutorial_path if user_signed_in? && current_user.can_create?(Tutorial) %></small>
			</h4>

			<div id="tutorials" class="right" style="margin:30px 0 10px 0; ">		
				<div style="background:#f4f4f4;">
          <dl class="button-group radius" >
          <dd><a class="button small <%= 'secondary' if params[:order].nil? || params[:order] == 'newly' || params[:order] == 'popular' %> sort"  data-sort="view_count" href=<%= "#{tutorials_path}?order=popular_last2w" %>>최근 2주</a></dd>
          <dd><a class="button small <%= 'secondary' if params[:order].nil? || params[:order] == 'newly' || params[:order] == 'popular_last2w' %> sort"  data-sort="view_count" href=<%= "#{tutorials_path}?order=popular" %>>인기순</a></dd>
          <dd><a class="button small <%= 'secondary' if params[:order] == 'popular' || params[:order] == 'popular_last2w' %> sort"  data-sort="published_at" href=<%= "#{tutorials_path}?order=newly" %>>최신순</a></dd>
          </dl>
        </div>
			</div>
		</div>
	</div>
	<div class="row" style="background:#FFF;margin:0;" >
		<div class="small-12 small-centered columns" style="">
			<div class="list" style="margin-top:20px;">	  
				<%= render @tutorials %>
  		</div>						
  	</div>
		<div class="small-12 small-centered columns" style=" ">
			<div class="pagination-centered">
				<%= will_paginate @tutorials, previous_label: "&laquo;".html_safe, next_label: "&raquo;".html_safe , renderer: FoundationPagination::Rails %>
			</div>
		</div>
	</div>
