<div class="row" style="">
  <div class="large-12 columns"> 
		<h4 style="letter-spacing:-0.5px;">Beautorials </h4>

		<h5 class="subheader"><small>TUTORIAL > 
		<% @tutorial.categories.each do |category| %>
			<%= category.name %>
		<% end %>
		</small></h5>
  </div>    
</div>
<div class="row">
	<div class="small-12 medium-4 columns">
		<%= image_tag @tutorial.thumbnail.image_url(:large) if @tutorial.thumbnail.present? %>
	</div>
	<div class="small-12 medium-8 columns">
      <h2 class="subheader"><%= best_in_place @tutorial, :title %></h2>
      <h6 class="subheader ">
				<% if @tutorial.categories.present? %>
					<small>Category : </small>
					<% @tutorial.categories.each do |category| %>
						&nbsp;<span class=" secondary tiny label"><%= link_to category.name, category_path(category) %></span>
					<% end %>
				<% end %>
			</h6>
      <div class="text-right"><%= link_to "Edit", edit_tutorial_path if can? :manage, @tutorial %></div>
      <div><%= link_to image_tag(@tutorial.author.image_url(:small), :class => "circular", :style => "width:auto; height:40px;"), beautystar_path(@tutorial.author.profile) if @tutorial.author.present? %> <strong><%= link_to @tutorial.author.profile.try(:fullname), beautystar_path(@tutorial.author.profile) %><%= "BEAUTYMEETS" if (@tutorial.author.has_role? :admin) %></strong>&nbsp;<small><%= @tutorial.author.profile.try(:job_title) %></small>
      </div>
      

			<p><%= @tutorial.description %></p>
    	<p>
    		<% @tutorial.tag_list.each do |t| %>
	  	  	<span class="label secondary radius"><%= link_to t, tag_path(t) %></span>
		   	<% end %>
			</p>
  </div>
</div>

<% if @tutorial.vimeo_url.present? %>
<div class="row">
	<div class="small-12 columns">
  	<hr> 
		<div class="flex-video widescreen vimeo">
			<iframe width="420" height="315" src="<%= @tutorial.vimeo_url %>" frameborder="0" allowfullscreen></iframe>
		</div>
		<hr> 
	</div>
</div>
<% end %>

<div class="row" style="">
	<div class="small-12 columns " >
		<h5>다른 이미지</h5>
		<%= render 'pictures/gallery' %>
		<%= render 'pictures/form' if (can? :manage, @tutorial)  %>
	</div>
</div>

<% if (!@tutorial.items.nil?)  && (@tutorial.items.count > 0) %>

<div class="row" style="">
	<div class="large-12 columns" style="margin:20px 0 0 0;">		

		<dl class=" accordion" data-accordion >
			<dd >
					<a href="#video-description">사용된 화장품 보기<i class="right fa fa-chevron-down"></i></a>
					<div class="content" id="video-description">

						<h4 class="subheader" ><strong><small>사용된 주요 제품</small></strong></h4>
						<ul class="inline-list">
						<% @tutorial.items.each do |tutorial_item| %>			
							<li style="margin-bottom:15px;" >
								<span style="height:1px;"></span>
								<%= link_to image_tag(tutorial_item.thumbnail.image_url(:medium), :style => "width:100px; height:100px;"), item_path(tutorial_item), :class => "th", :style => "" %>
								<span class="subheader" style="font-size:0.75rem; padding-bottom:0; margin-bottom:0"><%= tutorial_item.brand.try(:name) %></span>
								<span  style="font-size:0.8rem; "><strong><%= link_to truncate(tutorial_item.try(:name), 10), item_path(tutorial_item) %></strong></span>
								<%= link_to "&nbsp;X".html_safe, tutorial_item_unitemize_path(@tutorial, tutorial_item), :id => tutorial_item.id  , :data => { :confirm => 'Are you sure?' }, method: :delete  if can? :manage, @tutorial %>
								
							</li>
						<% end %>					
						</ul>
					</div>
			</dd>
		</dl>
</div>
<% end %>
			<% if can? :manager, @tutorial %>
			<div>
			<p><h4>Add Product</h4></p>
			<%= #render 'items/small_form' 
			%>
			<%= simple_form_for [@itemizable] do |f| %>
			  <%= f.error_notification %>

			    <%= f.input :item_name, :url => autocomplete_item_name_tutorials_path, :as => :autocomplete %>
			    <%= f.button :submit, 'Add It' %>

			<% end %>
			<% end %>
		<hr>
	</div>
</div>

<div class="row" style="">
	<div class="large-12 columns" style="margin:20px 0 0 0;">		

		Comments(<%= @tutorial.comments.count %>)
		<%= render "comments/form"  %>    
		<%= render "comments/comments" %>
	</div>
</div>