
<div class="row">
	<div class="medium-12 columns">
		<% if user_signed_in? %>
			<div class="panel callout" style="border:0; padding:2rem;">
				<h2>Hi, <%= current_user.name || current_user.email  %></h2>
				<h6 class="subheader">There are <i class="fa fa-bell-<%= 'o' if (@notifications.count == 0) %> fa-fw"></i><%= link_to "#{@notifications.try(:count)} notifications", member_notifications_path(@member) if current_user.has_role? :member %> you need to check</h6>
			</div>
		<% else %>
			<div class="panel" style="
	              -moz-box-shadow: inset 0 0 200px -50px rgba(0, 0, 0, 0.9);
	              -webkit-box-shadow: inset 0 0 200px -50px rgba(0, 0, 0, 0.9);
	              box-shadow: inset 0 0 200px -50px rgba(0, 0, 0, 0.9); 
	              height:22rem; 
	              background:#dfdfdf; background-position:center; background-image: url('/assets/_1020926.JPG');">
	      <div class="row">
	      	<div class="small-12 medium-9 columns">
						<h2 style="color:#FFF;margin-top:4rem; ">뷰티밋츠에서는<br/> 국내최고의 유명 아티스트들과 함께 메이크업을 배우고 예뻐질 수 있습니다.</h2>
						<div style="margin:1.2rem 0.5rem;">
						<% if !user_signed_in? %>
				            <%= link_to "가입하기", new_user_registration_path, :class => "button radius" %>
				            <%= link_to "로그인하기", new_user_session_path,  :class => "button secondary radius"  %>
						<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-8 columns" >
		<h4 class="subheader">
			최신 튜토리얼&nbsp;<small>뷰티밋츠가 제작한 최신 뷰티 튜토리얼입니다.</small>
		</h4>
		<%= render partial: @latest_tutorials, locals: { cards_in_row: "2" } %>
		<h4 class="subheader">
			인기 튜토리얼&nbsp;<small>뷰티밋츠에서 가장 인기가 많은 뷰티 튜토리얼입니다.</small>
		</h4>
		<%= render partial: @best_tutorials, locals: { cards_in_row: "2" }  %>
		<div class="text-center">
			<%= link_to "튜토리얼 더 살펴보기 <i class='fa fa-chevron-right'></i>".html_safe, tutorials_path, :class => "button radius" %>
		</div>
	</div>



	<div class="small-12 medium-4 columns">
		<h4 class="subheader">전문가들이 사용하는 화장품<br><small>이 제품들로 튜토리얼 완성되었습니다.</small></h4>
		<dl class="accordion" data-accordion>
  		<dd>
    		<a href="#panel1"><h6 class="subheader text-center"><strong>가장 많이 보는 화장품</strong><i class="right fa fa-chevron-down"></i></h6></a>
    		<div id="panel1" class="content active">
					<%= render "best_items" %>
				</div>
			</dd>
			<dd>
    		<a href="#panel2"><h6 class="subheader text-center"><strong>최근 추가된 화장품</strong><i class="right fa fa-chevron-down"></i></h6></a>
    		<div id="panel2" class="content">
					<%= render "latest_items" %>
				</div>
			</dd>
		</dl>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-12 columns" >
		<h4 class="subheader">
			인기 뷰티 클래스&nbsp;<small>뷰티전문가 뷰티스타의 인기 뷰티클래스를 만나보세요.</small>
		</h4>
		<%= render @best_beautyclasses %>
		<div class="text-center">
			<%= link_to "뷰티클래스 더 살펴보기 <i class='fa fa-chevron-right'></i>".html_safe, beautyclasses_path, :class => "button radius" %>
		</div>
		<hr>
		<h4 class="subheader">뷰티비디오&nbsp;<small>뷰티밋츠가 고르고 고른 뷰티 비디오입니다.</small></h4>
		<h5 class="subheader"><strong>인기 뷰티 비디오</strong>&nbsp;<small></small></h5>
		<%= render @best_videos %>
		<h5 class="subheader"><strong>최신 뷰티 비디오</strong>&nbsp;<small></small></h5>
		<%= render @latest_videos %>
		<div class="text-center">
			<%= link_to "뷰티 비디오 더 살펴보기 <i class='fa fa-chevron-right'></i>".html_safe, videos_path, :class => "button secondary radius" %>
		</div>
		<hr>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-6 columns" >
		<div class="fb-like-box" data-href="https://www.facebook.com/beautymeets.page" data-width="370px" data-height="510px" data-header="false" data-show-border="false" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false">
		</div>
		<div class="fb-like" data-href="http://www.facebook.com/beautymeets.page"  data-send="false" data-width="320px;" data-show-faces="false">
		</div>
	</div>
	<div class="small-12 medium-6 columns" >
		<h5 class="subheader"><a href="http://blog.beautymeets.com"><%= image_tag "blog_logo.png" %> blog</a></h5>
		<% @blog_rss.entries.first(5).each_with_index do |entry, i| %>
				<h6 class="subheader"><%= link_to entry.title.unpack('U*').pack('U*'), entry.link %>&nbsp;<small>| <%= entry.category.unpack('U*').pack('U*') %></small></h6>
				<p>
					<%= truncate(entry.description.unpack('U*').pack('U*'), 60) %>
					<small class="right"><%= entry.pubDate.strftime("%Y-%m-%d") %></small>
				</p>
				<%= "<hr>".html_safe if i < 4 %>
		<% end %>
	</div>
</div>
