<% page_title "Welcome to BEAUTYMEETS" %>
<% page_desc "Discover, Learn, and Be beautiful in BEAUTYMEETS!!" %>
 	    	
<div class="row ">
	<div class="small-12 welcome-jumbo " >
		
				<div class="slider">
					<ul class="slides">
						<!--
						<li class="slide"  style="padding:0;">
							<%= #render 'welcome_jumbo_watch' 
							%>
						</li>
						-->
						<!--
						<li class="slide"  style="padding:0;">
							<%= #render 'welcome_jumbo_check' 
							%>
						</li>
						-->
						<!--
						<li class="slide"  style="padding:0;">
							<%= #render 'welcome_jumbo_save' 
							%>
						</li>
						-->
						<% if @events.present? %>
							<% @events.each_with_index do |event, i| %>
							<li class="slide"  style="padding:0;">
								<%= render event %>
							</li>
							<% end %>	
						<% end %>
					</ul>
				</div>
	</div>
</div>

<div class="row" style="margin-bottom:30px;" >
	<div class="small-12 medium-12 large-8 columns" style="">
		<div class="welcome-tutorial-card-outter" style="">
			<% if @latest_tutorials.present? %>
			<div class="row" >
				<div class="small-12 columns" >
					<div class="welcome-tutorial-header" >
					<%= image_tag "/assets/hdr_tutorial_latest
					@2x.png", :style => "width:200px; height:50px;" %>
					<%= link_to image_tag("/assets/btn_more@2x.png", :alt => "튜토리얼 더 살펴보기", :class => "welcome-tutorial-more right", :style => "width:80px; height:20px;"), {:controller => "tutorials", :order => "newly"} %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns" >
					<%= render partial: @latest_tutorials, locals: { cards_in_row: "2" } %>
				</div>
			</div>
			<% end %>
			<% if @best_tutorials.present? %>
			<div class="row">
				<div class="small-12 columns" style="">
					<div class="welcome-tutorial-header">
					<%= image_tag "/assets/hdr_tutorial_popular@2x.png", :style => "width:246px; height:50px;" %>
					<%= link_to image_tag("/assets/btn_more@2x.png", :alt => "튜토리얼 더 살펴보기", :class => "welcome-tutorial-more show-for-small-only right",:style => "width:80px; height:20px;"), {:controller => "tutorials", :order => "popular"} %>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="small-12 columns" >
					<%= render partial: @best_tutorials, locals: { cards_in_row: "2" }  %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="small-12 medium-12 large-4 columns" style="padding:0 10px 0 10px;">
		<div class="welcome-item-outter" style="">
			<div class="row">
				<div class="small-12 medium-6 large-12 columns" >
					<div class="" style="padding:0 0 20px 0;">
					<%= render "latest_items" %>
					</div>
				</div>
				<div class="small-12 medium-6 large-12 columns" >
					<div class="" style="padding:0 0 20px 0;">
	    			<%= render "best_items" %>
	    		</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% if @latest_posts.present? %>
<div class="row">
	<div class="small-12 columns" >
		<div class="row">
			<div class="small-12 columns" >
				<div class="welcome-post-header" >
					<%= image_tag "/assets/hdr_post.png", :class => "show-for-medium-up"  %>
					<span class="show-for-small-only subheader" style="font-size:1.3rem; letter-spacing:-1px; ">최신뷰티밋츠 포스트</span>
					<%= link_to image_tag("/assets/btn_more@2x.png", :alt => "포스트 더 살펴보기", :class => "right welcome-post-more"), posts_path %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12">
				<%= render @latest_posts %>
			</div>
		</div>
	</div>
</div>
<% end %>