
<div class="row">
	<div class="small-12 columns" style="background-color: #eee;">
		<h4>Hello, Welcome to BEAUTYMEETS</h4>
	</div>
</div>
<div class="row">
	<% if user_signed_in? %>
		<div class="medium-2 columns">
			<div class="panel">
				<% if user_signed_in? %>
	            <% 
	            if (current_user.has_role? :member) 
	            %>
          
	              <div><%= link_to image_tag(current_user.image_url(:small)) if current_user.image.present? %></div>
	              <h5> Hi, <%= current_user.name.present? ? current_user.name : current_user.email  %></h5>
	              <h6>
	              	<strong><%= link_to "See Profile", member_path(current_user.profile) %></strong>
	              </h6>
	            <%
	            elsif (current_user.has_role? :beautystar) 
	            %>     
	              <strong><%= link_to current_user.name.present? ? current_user.name : current_user.email, beautystar_path(current_user.profile) %></strong>
	            <% 
	          	elsif (current_user.has_role? :admin)
	            %>
	            	Admin
	            <%

	            end
	              %>
	      <% end %>      
			</div>
		</div>
	<% end %>
	<div class="<%= 'medium-10' if user_signed_in? %> <%= 'medium-12' if !user_signed_in? %> columns" style="padding:0; ">
		<% if user_signed_in? %>
			
		<% else %>
			<div class="panel" style="
	              -moz-box-shadow: inset 0 0 200px -50px rgba(0, 0, 0, 0.9);
	              -webkit-box-shadow: inset 0 0 200px -50px rgba(0, 0, 0, 0.9);
	              box-shadow: inset 0 0 200px -50px rgba(0, 0, 0, 0.9); 
	              height:22rem; 
	              background:#dfdfdf; background-position:center; background-image: url('/assets/_1020926.JPG');">
	      <div class="row">
	      	<div class="small-12 medium-9 columns">
						<h2 style="color:#FFF;margin-top:4rem; ">뷰티밋츠에서는<br/> 국내최고의 유명 아티스트들과 함께 메이크업을 배우고 예뻐질 수 있습니다.</h2>
						<div style="margin:1.2rem 0.5rem;">
						<% if !user_signed_in? %>
				            <%= link_to "가입하기", new_user_registration_path, :class => "button " %>
				            <%= link_to "로그인하기", new_user_session_path,  :class => "button  secondary"  %>
						<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="<%= 'medium-10 medium-offset-2 large-7 large-offset-2' if user_signed_in? %> <%= 'medium-9 large-9' if !user_signed_in? %> columns" >
		<%= render 'activities' %>
		
		<%= render 'bookmarks' %>

		<%= render 'best_tutorials' %>
		
		<%= render 'latest_tutorials' %>
		
		<%= render 'best_videos' %>

		<%= render 'latest_videos' %>
		
	</div>
	<div class="medium-12 large-3 columns" >
		<%= render 'best_items' %>
		<br/>
		<%= render 'latest_items' %>
		
	</div>
</div>