<div class="row">
  <div class="small-12 columns">
    <div class="panel " style="background:#FFF; border:0; ">
      <div class="row">
        <div class="small-12 medium-3 columns">
          <%= link_to image_tag(event.try(:thumbnail) && event.thumbnail.image_url(:medium)), event_path(event) %>     
        </div>
        <div class="small-12 medium-9 columns" style="position:relative; ">
          <div>
            <h5><small class="subheader right"><%= event.released_at.strftime("%Y.%m.%d %H:%M") %>&nbsp;에 게시 </small></h5>
            <h3>
              <%= link_to event.title, event_path(event) %>
            </h3>
            <h6><%= event.description %></h6>
          </div>
          <div style=" ">
            <h5><span class="label secondary">이벤트 기간</span>&nbsp;<small><%= event.start_from.strftime("%Y.%m.%d %H:%M") %> ~ <%= event.finish_on.strftime("%Y.%m.%d %H:%M") %></small></h5>
            <h5><span class="label secondary">결과발표</span>&nbsp;<small><strong><%= event.win_released_at.strftime("%Y.%m.%d %H:%M") %></strong></small></h5>
            <% if Time.now < event.released_at %>
              <h5><span class="label success">이벤트 종료</h5>
            <% end %>
            
            <%= link_to 'Edit', edit_event_path(event) if (can? :author, event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } if (can? :manage, Event) %>
          </div>
        </div>
    </div>
  </div>
</div>