<div class="row">
  <div class="small-12 columns">
    <a href="<%= event_path(event) %>" style="display:block;">
    <div class="panel " style="background:#FCFCFC; border:4px #FFF solid; <%= 'background:url(<%= event.thumbnail.image_url %>);' if event.thumbnail.present? %> height:24rem; padding:0;">
      <% if event.released_at.present? && (Time.now < event.released_at)  %>
      <div style="background-color:rgba(0,0,0,0.4);  height:100%; margin:0 0 0 0;">
        <div class="row">
          <div class="small-12 medium-9 columns" >
            <div style="margin-top:15rem;padding-left:2rem;">
              <h2 style="color:#FFF; letter-spacing:-0.5px; ">
                <%= event.try(:title) %>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <div style="background-color:rgba(0,0,0,0.1);  height:100%; margin:0 0 0 0;">
        <div class="row">
          <div class="small-12 columns" style="margin-top:3rem; ">
            <% if !local_assigns[:gate_tag].nil? %>
            <h2 class="" style="margin-left:20px; margin-right:-15px;">
              <small class="right button" style="padding:10px 30px; opacity:0.7;">
                참여가능
              </small>
            </h2>
            <% end %>
            <div style="margin-top:12rem;padding-left:2rem;">
              <h2 class="subheader" style="color:#FFF; letter-spacing:-0.5px; ">
                <%= event.try(:title) %>
              </h2>
              <h5 style="color:#FFF; letter-spacing:-0.5px;"><strong>이벤트 기간</strong>&nbsp;<%= event.start_from.strftime("%Y.%m.%d %H:%M") if event.start_from.present? %> ~ <%= event.finish_on.strftime("%Y.%m.%d %H:%M") if event.finish_on.present? %><br/>
              <strong>결과발표</strong>&nbsp;<%= event.win_released_at.strftime("%Y.%m.%d %H:%M") if event.released_at.present? %></h5>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    </a>
  </div>
</div>