
<% page_title "BEAUTYMEETS > #{@event.title}" %>
<% page_thumb "#{full_url(@event.thumbnail.image_url)}" if @event.thumbnail.present? %>
<% page_desc "Discovery, Learn, and Be beautiful in BEAUTYMEETS!! 이벤트 안내 : #{@event.title} " %>

<div class="row" >
  <div class="small-12 columns"> 
    <div style="height:90px; position:relative; ">
      <h4 class="subheader" style="letter-spacing:-0.1px; position:absolute; bottom:0;">
        <%= render 'layouts/go_back' %>
        <%= @event.title%>
      </h4>
      <div class="text-right">
        <%= link_to "Edit", edit_event_path if user_signed_in? && current_user.can_update?(@event) %>
      </div>
    </div>
  </div>    
</div>

<div class="row" >
  <div class="small-12 columns"> 
    <h5><small class="subheader right"><%= @event.released_at.strftime("%Y.%m.%d %H:%M") if @event.released_at.present? %>&nbsp;에 게시 </small></h5>
  </div>
</div>

<div class="panel" style="background:#FFF;">
  <div class="row" style="">
    <div class="small-12 columns " >
    <% if !@pictures.nil? %>
      <% fb_page_thumb = "" %>
      <% @pictures.each do |p| %>
          <% if user_signed_in? && current_user.can_update?(@pictureable) #can? :author, @pictureable 
            %>
              <div class="left" style="margin:10px;">
                <img src="<%= p.image_url.to_s %>">
                <%= simple_form_for [@pictureable] do |f| %>
                  <%= link_to 'x', [@pictureable, p], :data => { :confirm => 'Are you sure?' }, method: :delete   %>
                  <%= f.input :picture_id, :as => :hidden, :input_html => {:value => p.id} %>
                  <%= f.button :submit, "Thumbnail!", :class => "secondary tiny" %>
                <% end %>
              </div>
          <% else %>
            <% if p.id != @event.thumbnail.id %>
              <img src="<%= p.image_url.to_s %>">
            <% end %>
          <% end %>
      <% end %>
    <% end %>
    <%= render 'pictures/form' if user_signed_in? && current_user.can_update?(@event) %>
      
    </div>
  </div>
  <div class="row" style="margin-top:30px; padding:0 20px;">
    <div class="small-12 medium-8 columns " style="">
      <h5 style="color:#4cebe1;">이벤트 안내</h5>
      <hr style="margin:5px 0;">
      <%= simple_format(@event.description, :style => "color:#999;") %>

      <p>
        <% @event.tag_list.each do |t| %>
          <span class="label secondary radius"><%= t %></span>
        <% end %>
      </p>

      <div class="fb-like" data-href="<%= event_url(@event) %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="small-12 medium-4 columns" style="">
      <h5 style="color:#4cebe1;">이벤트 기간&nbsp;</h5>
      <hr style="margin:5px 0;">
      <p style="color:#999;"><%= @event.start_from.strftime("%Y.%m.%d %H:%M") if @event.start_from.present? %> ~ <%= @event.finish_on.strftime("%Y.%m.%d %H:%M") if @event.finish_on.present? %>
      </p>
      <h5 style="color:#4cebe1;">당첨자 발표</h5>
      <hr style="margin:5px 0;">
      <p style="color:#999;"><%= @event.win_released_at.strftime("%Y.%m.%d %H:%M") if @event.win_released_at.present? %>
        <% if @event.released_at.present? && Time.now < @event.released_at %>
      </p>
      <h5><span class="label success">이벤트 종료</span>&nbsp;<small>본 이벤트는 종료되었습니다.</small></h5>
      <% end %>
      <div><%= link_to "참여하기", @event.target_url, :class => "button expand" if @event.target_url? %></div>
    </div>  
    <hr style="margin:0 10px;">
      
      <div class="row" style="margin:1.5rem 0 0 0;">
        <div class="small-12 medium-12 columns">   
          <% if !user_signed_in? %>
            <p><%= "회원가입을 하셔야 댓글을 달 수 있어요, 안하셨다면 가입부터!!" %></p>
            <a href="<%= new_user_registration_path %>"  class="button radius secondary" >회원가입</a>&nbsp;
            OR <a href="<%= new_user_session_path %>"  class="button radius secondary">로그인</a>
            <%= render "comments/comments" %>
          <% else %>
            <%= render partial: "comments/form", locals: { form_message: "많이많이 참가해주세요" }  %>    
            <%= render "comments/comments" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 columns" style="margin:30px 0 5rem 0;">    
    <h3>추천 영상 보기&nbsp;<small>함께 보면 좋은 영상들</small></h3>
    <hr>
    <h4 style="padding-left:5px;">튜토리얼&nbsp;<small>뷰티밋츠가 직접 제작한 리얼 뷰티 튜토리얼</small></h4>
      <div class="row" style="">
        <% if @tutorials.present? %>
          <% @tutorials.each do |tutorial| %>
            <%= render partial: tutorial, locals: { cards_in_row: "3" } %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>