<%= simple_form_for(@beautystar) do |f| %>
  <% if @beautystar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beautystar.errors.count, "error") %> prohibited this beautystar from being saved:</h2>

      <ul>
      <% @beautystar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :introduction %>
    <%= f.input :job_title %>
    <%= f.input :vimeo_url %>
    <%= f.input :image %>
    <%= f.input :tag_list, :label => "Tags (separated by commas)" %>
    
    <%= f.button :submit %>

<% end %>
