<h1>Listing push_notifications</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Sent</th>
    <th></th>
    <th></th>
  </tr>

<% @push_notifications.each do |push_notification| %>
  <tr>
    <td><%= link_to push_notification.title, push_notification %></td>
    <td><%= push_notification.body %></td>
    <td><%= (push_notification.sent == false) ? link_to('Show', call_send_push_notification_path(push_notification), :class => "button") : push_notification.sent %></td>
    <td><%= link_to 'Edit', edit_push_notification_path(push_notification) %></td>
    <td><%= link_to 'Destroy', push_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Push notification', new_push_notification_path %>
