<div class="row " style="">
	<div class="small-12 columns">
	<% if !@pictures.nil? %>
	<!-- data-clearing을 쓰면 modal과 conflict 일어남 -->
		<!-- <ul class="clearing-thumbs " data-clearing> -->
	  <% @pictures.each do |p| %>
				<% if can? :author, @pictureable %>

						<div class="left" style="margin:10px;">
							<img src="<%= p.image_url(:small).to_s %>">
							<%= simple_form_for [@pictureable] do |f| %>
				      	<%= link_to 'x', [@pictureable, p], :data => { :confirm => 'Are you sure?' }, method: :delete   %>
				      	<%= f.input :picture_id, :as => :hidden, :input_html => {:value => p.id} %>
				      	<%= f.button :submit, "Thumbnail!", :class => "secondary tiny" %>
				      <% end %>
				    </div>

		      
	      <% else %>
	      	<!--  <li style="padding:0 0 10px 0;"> -->
	      		<a class="th" style="border:0;" href="<%= p.image_url(:large)%>"><img src="<%= p.image_url(thumb_size).to_s %>"></a>
	      	<!-- </li> -->
	      <% end %>
	  <% end %>
		<!-- </ul> -->
  <% end %>
	</div>
</div>