<% page_title "BEAUTYMEETS > 제품들 구경하기" %>
<% page_thumb "#{full_url(@items.first.thumbnail.image_url)}" if @items.first.thumbnail.present? %>
<% page_desc "Discover, Learn, and Be beautiful in BEAUTYMEETS!!"  %>

  <div class="row" >
    <div class="small-12 small-centered columns" style="">
      <div class="page-title">
      <h4 class="subheader " style="">
        &nbsp;Item&nbsp;
        <small>
          <%= "최근 2주간 사람들이 가장 많이 본 화장품" if params[:order] == 'popular_last2w' %>
          <%= "사람들이 가장 많이 본 화장품" if params[:order] == 'popular' %>
          <%= "튜토리얼에 최근 사용된 화장품" if params[:order] == 'newly' %>
        </small>
        <small><%= link_to '<i class="fa fa-plus fa-fw"></i>New'.html_safe, new_item_path if user_signed_in? && current_user.can_create?(Item) %>
        </small>
      </h4>
    </div>
      <div id="tutorials" class="btn-page-sort" style=" ">   
        <div style="background:#f4f4f4;">
          <ul class="button-group radius" >
          <li><a class="button small <%= 'secondary' if params[:order].nil? || params[:order] == 'newly' || params[:order] == 'popular' %> sort"  data-sort="view_count" href=<%= "#{items_path}?order=popular_last2w" %>>최근 2주</a></li>
          <li><a class="button small <%= 'secondary' if params[:order].nil? || params[:order] == 'newly' || params[:order] == 'popular_last2w' %> sort"  data-sort="view_count" href=<%= "#{items_path}?order=popular" %>>인기순</a></li>
          <li><a class="button small <%= 'secondary' if params[:order] == 'popular' || params[:order] == 'popular_last2w' %> sort"  data-sort="published_at" href=<%= "#{items_path}?order=newly" %>>최신순</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="background:#FFF;margin:0;" >
    <div class="small-12 small-centered columns" style="padding:0;">

        <%= render @items %>

    </div>
    <div class="small-12 small-centered columns" style="">
      <div class="pagination-centered" style="margin-bottom:30px;">
        <%= will_paginate @items, previous_label: '<i class="fa fa-angle-left"></i>'.html_safe, next_label: '<i class="fa fa-angle-right"></i>'.html_safe , :inner_window => 1, :outer_window => 1, renderer: FoundationPagination::Rails, :class => "hide-for-small-only" %>
        
                <h6 class="center show-for-small-only subheader" style='font-family: "Nanum Gothic", sans-serif;'>
                  <span style="margin-right:20px"><%= link_to '<i class="fa fa-angle-double-left"></i>'.html_safe, items_path(page: 1) %></span>
                  <span style="margin-right:20px"><%= (@items.current_page - 1) > 0 ?  link_to('<i class="fa fa-angle-left"></i>'.html_safe, items_path(page: (@items.current_page - 1))) : '<i class="fa fa-angle-left"></i>'.html_safe %></span>
                  <span style="color:#CCC; font-size:12px;"><%= "#{@items.current_page} / #{@items.total_pages}" %></span>
                  <span style="margin-left:20px"><%= (@items.current_page + 1) <= @items.total_pages ? link_to('<i class="fa fa-angle-right"></i>'.html_safe, items_path(page: (@items.current_page + 1))) :  '<i class="fa fa-angle-right"></i>'.html_safe %></span>
                  <span style="margin-left:20px"><%= link_to '<i class="fa fa-angle-double-right"></i>'.html_safe, items_path(page: @items.total_pages) %></span>
                </h6>  
      </div>
    </div>
  </div>

