<% page_title "BEAUTYMEETS > #{@item.try(:name)}" %>
<% page_thumb "#{full_url(@item.thumbnail.image_url)}" if @item.thumbnail.present? %>
<% page_desc "Discover, Learn, and Be beautiful in BEAUTYMEETS!!" || (@item.name.present? ? "#{@item.name} 으로 만들어진 뷰티 튜토리얼 영상을 만나보세요." : "") %>

<div class="row" >
  <div class="small-12  medium-12 large-12 columns"> 
    <div style="height:90px; position:relative; ">
      <h4 class="subheader" style="letter-spacing:-0.1px; position:absolute; bottom:10px; ">
        <%= render 'layouts/go_back' %>
        제품 상세정보
        <%= link_to 'Edit', edit_item_path(@item) if user_signed_in? && current_user.can_update?(@item) %>
      </h4>
    </div>
  </div>    
</div>

<div class="row" style="background:#FFFFFF; margin:0 -5px; padding:20px 9px; border:1px #EEE solid;">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 medium-4 columns right " >    
        <% if @item.categories.present? %>
          <span class="page-show-category">
            ITEM > 
            <% @item.categories.each_with_index do |category, i| %>
              &nbsp;<%=  category.name %><%= "&nbsp;/".html_safe if i < (@item.categories.count - 1) %>
            <% end %>
          </span>
        <% end %>
      </div>
      <div class="small-12 medium-8 columns" style="margin-bottom:20px;">
        <div class="left" style=" min-height:36px;">
          <div class="left" style="margin:0 10px 0 0;">
            <%= link_to image_tag(@item.brand.thumbnail.image_url(:very_small), :style => "border:1px #EEE solid; width:36px; height:36px;"), brand_path(@item.brand.id) if @item.brand.thumbnail.present? %>
          </div>
          <div class="left">
            <span style="font-size:0.75rem;"><%= @item.brand.try(:name) %>
            </span><br/>
            <span style="font-size:1.5rem;"><%= @item.try(:name) %>
            </span>
          </div>
        </div>
      </div>

      <div class="show-for-medium-up right" style="margin-right:-15px;">
          <%= render 'bookmarks/star' %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 columns item-show-thumb" >
    <div class="item-show-thumb">
      <% if @item.pictures.present? %>
        <% if @item.pictures.count > 1 %>
            <div class="slider" style="height:280px;">
              <ul class="slides">
              <% @item.pictures.each do |p| %>
              <li class="slide"  style="padding:0;">
                <%= image_tag p.image_url(:medium) %>
              </li>
              <% end %> 
              </ul>
            </div>
        <% else %>
          <%= image_tag @item.pictures.first.image_url(:medium), :style => "border:1px #EEE solid;" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-8 columns" >

    <div style="color: #666; font-size:14px;">
      <p ><%= @item.description.gsub(/\n/, '<br/>').html_safe if @item.description.present? %></p>
      
    <p>
      뷰티밋츠 앱 다운 : <a href="http://bit.ly/BeautymeetsApp">http://bit.ly/BeautymeetsApp</a>
    </p>
      <p style="margin-top:0; margin-bottom:2px;">
        <% @item.tag_list.each do |t| %>
        <span class="label secondary radius"><%= t %></span>
      <% end %>
      </p>
    </div>  
    <div class="fb-like" data-href="<%= item_url(@item) %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <p style="margin-bottom:4px;"></p>    

    
  </div>
    

  <% if (!@items_in_category.nil?)  && (@items_in_category.count > 0) %>        

    <div class="small-12 medium-12 columns" style="padding:0; margin-top:10px;">   
      <h5 class="subheader" style="color:#999; line-height:101%;padding: 10px 10px 15px 10px;">다른 
        <% @parent_categories.each do |p_cat| %>
        <%=  p_cat.name  %>
        <% end %>
        제품(인기순)
      </h5>
      <div class="small-12 medium-12 columns" >   
          <div class="show-for-small-only">
            <table style="width:100%;"> 
              <tbody>
                <% @items_in_category.limit(10).each do |item| %>     
                <tr >
                  <td style="border: 1px solid #e9e9e9; width:80px;">
                    <%= link_to image_tag(item.thumbnail.image_url(:small)), item_path(item) if item.thumbnail.present? %>
                  </td>
                  <td style="border: 1px solid #e9e9e9; ">
                    <div style="font-size:0.75rem; line-height:100%; margin-top;0;">
                      <%= item.brand.try(:name) %>
                    </div>
                    <div style="font-size:0.8rem; line-height:100%;">
                      <strong><%= link_to truncate(item.try(:name), 20), item_path(item) %></strong>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="show-for-medium-up">
            <ul id="item-carousel" class="elastislide-list ">
            <% @items_in_category.each do |item| %>     
              <li >
                <%= link_to image_tag(item.thumbnail.image_url(:small), :class => "th", :style => "width:110px; height:110px;"), item_path(item) if item.thumbnail.present? %>
                <div style="font-size:0.75rem; line-height:100%; margin-top;0;"><%= item.brand.try(:name) %></div>
                <div style="font-size:0.8rem; line-height:100%;"><strong><%= link_to truncate(item.try(:name), 10), item_path(item) %></strong>
                </div>
              </li>

            <% end %> 

            </ul>       
          </div>
      </div>
    </div>
  <% end %>

</div>

<% if user_signed_in? && current_user.can_update?(@item) %>
<div class="row" style="">
  <div class="small-12 columns " >
    <div>
      <h4 class="subheader"><small>다른 이미지</small></h4>
      <%= render partial: 'pictures/gallery', locals: {thumb_size: :small} %>
    </div>
    <%= render 'pictures/form' %>
  </div>
</div>
<% end %>

<div class="row" style="background:#FFFFFF; margin:0 -5px; padding:20px 9px; border:1px #EEE solid;">
  <div class="small-12 columns">    
    <h3 class="subheader" style="margin:1rem 0 0 0;">Comment&nbsp;
    </h3>
    <%= render partial: "comments/form", locals: { form_message: "#{@item.name}에 대한 후기를 자유롭게 남겨주세요." }    %>    
    <%= render "comments/comments" || "댓글이 없습니다." %>
  </div>
</div>

<div class="row" style="background:#FFFFFF; margin:0 -5px; padding:20px 9px; border:1px #EEE solid;">
  <div class="small-12 medium-12 columns"  style="padding:0;">   
    <div id="item-card-group">
    <h4 class="subheader" style="color:#999; padding-left:10px; padding-bottom:10px;">이 제품이 사용된 튜토리얼</h4>

            <% 
              #announcement_index = rand(0..11) 
              extra_card_count = 3 - (@tutorials.length % 3) 
              notice_index = Array.new
              extra_card_count.times do
                notice_index << rand(0..(@tutorials.length-1)) 
              end 
              #announcement_index[1] = announcement_index[1] + 1 if (announcement_index[0] % 3) == (announcement_index[1] % 3)
            %>

              <% @tutorials.each_with_index do |tutorial, i| %>
                <% notice_index.each do |an| %>
                  <% if i == an %>
                    <% if (i % 3) == 0 %>
                      <%= render partial: 'notices/makeup_request_in_tutorial', locals: { cards_in_row: "3" }  %>
                    <% else #]if (i % 3) == 1 
                    %>
                      <%= render partial: 'notices/link_in_tutorial', locals: { cards_in_row: "3" }  %>
                    <% #else 
                    %>
                      <%= #render partial: 'notices/makeup_request_in_tutorial', locals: { cards_in_row: "3" }  
                      %>
                    <% end %>
                  <% end %>
                <% end %>
                
                <%= render tutorial %>
                
              <% end %>
    </div>
  </div>

  <div class="small-12 medium-12 columns" style="padding:0;">   
    <h4 class="subheader" style="color:#999; line-height:101%;padding-left:10px; padding-bottom:15px;">함께 사용하면 좋은 제품
      <small style="color:#CCC;">제품이 사용된 영상들 중에 가장 조회수가 높은 튜토리얼에 사용된 화장품입니다.</small>
    </h4>
        

    <% if (!@items_in_tutorial.nil?)  && (@items_in_tutorial.count > 0) %>        
      <div class="small-12 medium-12 columns" >   
          <div class="show-for-small-only">
            <table style="width:100%;"> 
              <tbody>
                <% @items_in_tutorial.each do |item| %>     
                <tr >
                  <td style="border: 1px solid #e9e9e9; width:80px;">
                    <%= link_to image_tag(item.thumbnail.image_url(:small)), item_path(item) if item.thumbnail.present? %>
                  </td>
                  <td style="border: 1px solid #e9e9e9; ">
                    <div style="font-size:0.75rem; line-height:100%; margin-top;0;">
                      <%= item.brand.try(:name) %>
                    </div>
                    <div style="font-size:0.8rem; line-height:100%;">
                      <strong><%= link_to truncate(item.try(:name), 20), item_path(item) %></strong>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="show-for-medium-up">
            <ul id="item-carousel-tutorial" class="elastislide-list ">
            <% @items_in_tutorial.each do |item| %>     
              <li >
                <%= link_to image_tag(item.thumbnail.image_url(:small), :class => "th", :style => "width:110px; height:110px;"), item_path(item) if item.thumbnail.present? %>
                <div style="font-size:0.75rem; line-height:100%; margin-top;0;"><%= item.brand.try(:name) %></div>
                <div style="font-size:0.8rem; line-height:100%;"><strong><%= link_to truncate(item.try(:name), 10), item_path(item) %></strong>
                </div>
              </li>

            <% end %> 

            </ul>       
          </div>
      </div>
    <% end %>

  </div>
</div>