<div class="row" >
  <div class="small-12 large-12 columns"> 
      <h3 style="letter-spacing:-0.5px; color:#999;"><%= @item.name %>&nbsp;<small class="small ">제품 상세정보 </small></h3>
  </div>
</div>
<div class="row" style="">
  <div class="small-12 large-12 columns" > 
    <h4 class="subheader"><small><%= @item.brand.try(:name) %> > <%= @item.name %></small>
    </h4>
  </div>
</div>
<div class="row" >
  <div class="small-12 medium-4 columns item-show-thumb" >
    <div class="item-show-thumb">
      <%= image_tag @item.thumbnail.image_url(:large) if @item.thumbnail.present? %>
    </div>
  </div>
  <div class="small-12 medium-8 columns">

          <h2 style=" letter-spacing:-1px;"><%= @item.name %></h2>
          <div style="color: #666; margin-top:20px; font-size:14px;"><%= @item.description.gsub(/\n/, '<br/>').html_safe if @item.description.present? %>
            Tags: 
              <% @item.tag_list.each do |t| %>
              <span class="label secondary radius"><%= link_to t, tag_path(t) %></span>
              <% end %>

          </div>  



  </div>
</div>
<div class="row" style="">
  <div class="small-12 columns " >
    <%= render 'pictures/gallery' %>
    <%= render 'pictures/form' if (can? :manage, @item)  %>
  </div>
</div>
<div class="row" style="margin:0 auto; float:none; ">
  <div class="small-12 large-12 columns"> 
      <hr>
  </div>
</div>

Comments(<%= @item.comments.count %>)
<%= render "comments/form"  %>    
<%= render "comments/comments" %>

<div class="row" style="">
  <div class="small-12 medium-8 columns">   


    <div id="tutorial-card-group">
    <h6 class="subheader"><%= @item.name %>이 사용된 뷰토리얼</h6>

    <%= render partial: "tutorials/tutorials" %>

    </div>
    </div>

  <div class="small-12 medium-4 columns">   
    <h6 class="subheader"><%= @item.name %>과 함께 사용하면 좋은 제품</h6>
    <%= render partial: "items" %>
  </div>
</div>
