<% page_title "BEAUTYMEETS > #{@item.try(:name)}" %>
<% page_thumb "#{full_url(@item.thumbnail.image_url)}" if @item.thumbnail.present? %>
<% page_desc "Discover, Learn, and Be beautiful in BEAUTYMEETS!!" || (@item.name.present? ? "#{@item.name} 으로 만들어진 뷰티 튜토리얼 영상을 만나보세요." : "") %>

<div class="row" >
  <div class="small-12 large-12 columns"> 
      <h3 style="letter-spacing:-0.5px; color:#999;"><small class="small ">제품 상세정보 </small></h3>
  </div>
</div>

<%= link_to 'Edit', edit_item_path(@item) if user_signed_in? && current_user.can_update?(@item) %>

<div class="row" style="">
  <div class="small-12 large-12 columns" > 
    <h4 class="subheader"><small><%= link_to "#{@item.brand.try(:name)} > ", brand_path(@item.brand) if @item.brand.present? %> <%= @item.name %></small>
    </h4>
  </div>
</div>
<div class="row" >
  <div class="small-12 medium-4 columns item-show-thumb" >
    <div class="item-show-thumb">
      <%= image_tag @item.thumbnail.image_url(:medium) if @item.thumbnail.present? %>
    </div>
  </div>
  <div class="small-12 medium-8 columns" >

    <h6 style="margin-bottom:-9px;"><%= link_to @item.brand.name, brand_path(@item.brand) if @item.brand && @item.brand.thumbnail %></h6>
    <h2 class="subheader" style="letter-spacing:-1px;"><strong><%= @item.name %></strong></h2>
    <h3><small class="right"><%= render 'bookmarks/star' %></small></h3>
    
    <div style="color: #666; margin-top:20px; font-size:14px;">
      <%= @item.description.gsub(/\n/, '<br/>').html_safe if @item.description.present? %>
      <% @item.tag_list.each do |t| %>
        <span class="label secondary radius"><%= link_to t, tag_path(t) %></span>
      <% end %>
    </div>  
    
    <div>
      <h4 class="subheader"><small>다른 이미지</small></h4>
      <%= render partial: 'pictures/gallery', locals: {thumb_size: :small} %>
    </div>

    <div style="margin:10px 0;">
      <div class="fb-like" data-href="<%= item_url(@item) %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
</div>
<div class="row" style="">
  <div class="small-12 columns " >
    <%= render 'pictures/form' if (can? :manage, @item)  %>
  </div>
</div>
<div class="row" >
  <div class="small-12 large-12 columns"> 
      <hr>
  </div>
</div>
<div class="row" style="">
  <div class="small-12 medium-8 columns " >
        
    Comments(<%= @item.comments.count %>)
    <%= render partial: "comments/form", locals: { form_message: "#{@item.name} 후기는 이곳에 남겨주세요, 궁금한 것도 함께 남겨주세요." }    %>    
    <%= render "comments/comments" %>
  </div>
</div>

<div class="row" style="">
  <div class="small-12 medium-8 columns">   


    <div id="tutorial-card-group">
    <h5 class="subheader"><strong><%= @item.name %>&nbsp;이(가) 사용된 튜토리얼</strong></h5>

    <%= render partial: "tutorials/tutorials", locals: { cards_in_row: "2" }  %>

    </div>
    </div>

  <div class="small-12 medium-4 columns">   
    <h5 class="subheader" style="line-height:101%;"><strong><%= @item.name %>과(와)<br/> 함께 사용하면 좋은 제품</strong></h5>
    <h5 class="subheader right" style="line-height:100%;"><small><%= @item.name %>이 사용된 영상들 중에 가장 조회수가 높은 튜토리얼에 사용된 화장품입니다.</small></h5>
    <%= render partial: "items" %>
  </div>
</div>
