<% page_title "BEAUTYMEETS > #{@post.try(:title)} " %>
<% page_thumb "#{full_url(@post.thumbnail.image_url)}" if @post.thumbnail.present? %>
<% page_desc "Discovery, Learn, and Be beautiful in BEAUTYMEETS!!" %>

    <div style="height:90px; position:relative; ">
      <h4 class="subheader" style="letter-spacing:-0.1px; position:absolute; bottom:10px; ">
        <%= render 'layouts/go_back' %>
        <%= @post.title%>
        <%= link_to "Edit", edit_post_path if user_signed_in? && current_user.can_update?(@post) %>
      </h4>
    </div>

<div class="row" style="background:#FFFFFF; margin:0 -5px; padding:20px 5px; border:1px #EEE solid;">
  <div class="small-12 medium-12 columns right text-right">    
    <% if @post.categories.present? %>
      <span class="tutorial-show-category" >
        TUTORIAL > 
        <% @post.categories.each_with_index do |category, i| %>
          &nbsp;<%=  category.name %><%= "&nbsp;/".html_safe if i < (@post.categories.count - 1) %>
        <% end %>
      </span>
    <% end %>
  </div>
  <div class="small-12 medium-10 columns">
      
    <%= simple_format(@post.description, :style => "margin-bottom:4px;") %>
    <p style="margin-top:0; margin-bottom:2px;">
      <% @post.tag_list.each do |t| %>
        <span class="label secondary radius"><%= t %></span>
      <% end %>
    </p>
    
      <div class="fb-like" data-href="<%= post_url(@post) %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
      </div>
    <p style="margin-bottom:4px;"></p>
  </div>
  <div class="medium-2 columns">
    <h3 class="show-for-medium-up" style=" margin-right:-26px;">
      <small class="right">
        <%= render 'bookmarks/star' %>
      </small>
    </h3>
  </div>

  <div class="small-12 columns " >
    <hr>
    <h6 class="subheader">하나씩 넘기면서 보세요. <small>Swipe to read</small></h6>

    <div class="slider">

      <ul class="slides">
        <% @pictures.each do |p| %>
        <li class="slide"  style="padding:0; text-align:center; ">
          <% if user_signed_in? && current_user.can_update?(@pictureable) %>

              <div class="left" style="margin:10px;">
                <img src="<%= p.image_url(:small).to_s %>">
                <%= simple_form_for [@pictureable] do |f| %>
                  
                  <%= f.input :picture_id, :as => :hidden, :input_html => {:value => p.id} %>
                  <%= f.button :submit, "Thumbnail!", :class => "secondary tiny" %>
                  <%= link_to 'x', [@pictureable, p], :data => { :confirm => 'Are you sure?' }, method: :delete   %>
                <% end %>
              </div>
          <% else %>
            <img style="margin:0 auto; height:auto; max-height:100%;" src="<%= p.image_url(:large).to_s %>">        
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    
    <%= render 'pictures/form' if (can? :manage, @post)  %>
  </div>

  <div class="small-12 columns show-for-small-only text-center" style="border:0px #EEE solid; margin:20px auto 20px auto;">
    <%= render 'bookmarks/star' %>
  </div>
</div>

<div class="row" style="background:#FFFFFF; margin:0 -5px; padding:20px 9px; border:1px #EEE solid;">
  <div class="small-12 medium-12 columns">    
    <h3 class="subheader" style="margin:1rem 0 0 0;">COMMENT&nbsp;<small><%= @post.try(:title) %>에 대해서 자유롭게 댓글을 달아주세요.</small>
    <%= "<br/><small>로그인하셔야 댓글 입력이 가능합니다. <a href='/users/login'>로그인 바로 가기</a></small>".html_safe if !user_signed_in? %>
    </h3>
    <%= render partial: "comments/form", locals: { form_message: "#{@post.try(:title)}에 대해 남겨주세요." }    %>    
    <%= render "comments/comments" || "댓글이 없습니다." %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 columns" style="margin:30px 0 5rem 0;">    
    <h3>추천 영상 보기&nbsp;<small>함께 보면 좋은 영상들</small></h3>
    <hr>
    <h4 style="padding-left:5px;">튜토리얼&nbsp;<small>뷰티밋츠가 직접 제작한 리얼 뷰티 튜토리얼</small></h4>
      <div class="row" style="">
        <% if @tutorials.present? %>
          <% @tutorials.each do |tutorial| %>
            <%= render partial: tutorial, locals: { cards_in_row: "3" } %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
