<% page_title "BEAUTYMEETS > #{@post.try(:title)} " %>
<% page_thumb "#{full_url(@post.thumbnail.image_url)}" if @post.thumbnail.present? %>
<% page_desc "Discovery, Learn, and Be beautiful in BEAUTYMEETS!!" %>

<div class="row" style="">
  <div class="large-12 columns"> 
    <h4 style="letter-spacing:-0.5px;">BEAUTYMEETS SAYS</h4>

    <h5 class="subheader"><small>BEAUTYMEETS SAYS > 
    <% @post.categories.each do |category| %>
      <%= category.name %>
    <% end %>
    </small></h5>
  </div>    
</div>
<div class="text-right"><%= link_to "Edit", edit_post_path if can? :manage, @post %></div>
<div class="row">
  <div class="small-12 medium-4 columns">
    <%= image_tag @post.thumbnail.image_url(:large) if @post.thumbnail.present? %>
  </div>
  <div class="small-12 medium-8 columns">
      <h2 class="subheader" style="letter-spacing:-1px;"><strong><%= best_in_place @post, :title %></strong></h2>
      <h3><small class="right"><%= render 'bookmarks/star' %></small></h3>
      <h6 class="subheader ">
        <% if @post.categories.present? %>
          <small>Category : </small>
          <% @post.categories.each do |category| %>
            &nbsp;<span class=" secondary tiny label"><%= category.name %></span>
          <% end %>
        <% end %>
      </h6>
      
      
      <p><%= @post.description %></p>
      <p>
        <% @post.tag_list.each do |t| %>
          <span class="label secondary radius"><%=  t %></span>
        <% end %>
      </p>

  </div>
</div>

<div class="row" style="">
  <div class="small-12 columns " >
    <hr>
    <ul class="example-orbit" data-orbit>
      <% @pictures.each do |p| %>
      <li>       
        <% if user_signed_in? && current_user.can_update?(@pictureable) %>

            <div class="left" style="margin:10px;">
              <img src="<%= p.image_url(:small).to_s %>">
              <%= simple_form_for [@pictureable] do |f| %>
                <%= link_to 'x', [@pictureable, p], :data => { :confirm => 'Are you sure?' }, method: :delete   %>
                <%= f.input :picture_id, :as => :hidden, :input_html => {:value => p.id} %>
                <%= f.button :submit, "Thumbnail!", :class => "secondary tiny" %>
              <% end %>
            </div>
        <% else %>
          <img style="margin:0 auto;" src="<%= p.image_url(:large).to_s %>">        
        <% end %>
      </li>
      <% end %>
    </ul>
    <%= render 'pictures/form' if (can? :manage, @post)  %>
  </div>
</div>

    <div style="margin:10px 0;">
      <div class="fb-like" data-href="<%= post_url(@post) %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>


<% if user_signed_in? && current_user.can_update?(@post) %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% end %>
