<% 
c_types = ["Tutorial", "Beautyclass", "Video", "Event", "Post", "Notice", "Item"]
%>
<div class="row">
	<div class="small-12 columns " >

		<% if activity.trackable %>

				<div class="head">
				<% if ActiveRecord::Base.connection.column_exists?(activity.trackable.commentable_type.downcase.pluralize, :picture_id) %>
					<%= link_to image_tag(activity.trackable.commentable.thumbnail.image_url(:very_small)), activity.trackable.commentable if (activity.trackable.commentable.thumbnail.present?) %>
				<% else %>
					<% if activity.trackable.commentable.class.name == "Board" %>
						<%= link_to image_tag(activity.trackable.commentable.picture.image_url(:very_small)), activity.trackable.commentable if activity.trackable.commentable.picture.present? %> 
					<% else %>
						<%= link_to image_tag(activity.trackable.commentable.image_url(:very_small)), activity.trackable.commentable if activity.trackable.commentable.image %> 
					<% end %>
				<% end %>
				</div>
				<div class="body">
					<div>
						<%= activity.owner.present? ? ((activity.owner.name != "") ? activity.owner.name : activity.owner.email.split('@').first) : "사용자 정보가 존재하지 않습니다"  %>
						<span class="description">
							님이 
						<% if ActiveRecord::Base.connection.column_exists?(activity.trackable.commentable_type.downcase.pluralize, :title) %>
							<%= link_to(activity.trackable.commentable.title, activity.trackable.commentable) %>
						<% else %>
							<%= link_to(activity.trackable.commentable.name, activity.trackable.commentable) %>
						<% end %>
						에 댓글을 달았습니다.
						</span>
					</div>
					<div>
						<%= simple_format(activity.trackable.body) %>
						<span class="created_at" style=" ">
							<small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
						</span>
					</div>
				</div>			
		<% else %>
				<div class="head" >
				</div>
				<div class="body">
					<div>
						<span class="description">
							이 작성한 댓글이 삭제되었습니다.
						</span>
					</div>
				</div>
		<% end %>
	</div>
</div>