
<div class="row">
	<div class="small-12 columns ">
		<div class="left">
		<%= #아래 코드 실행시 ActionView::Template::Error ( isn't precompiled): 발생 
		%>

		<%= #image_tag activity.owner.image_url(:very_small), :style => "width:40px; height:40px;" if activity.owner.present? 
		%>
		</div>
		<div style="margin:0.8rem 1.0rem 0.2rem 2.9rem ;">
		<%= activity.owner.name || activity.owner.email if activity.owner %>
		<% if activity.trackable %>
		님이
			<% if (activity.trackable.commentable_type == "Tutorial" || activity.trackable.commentable_type == 	"Beautyclass" || activity.trackable.commentable_type ==  "Video" || activity.trackable.commentable_type ==  "Event") %>
				<%= #image_tag activity.trackable.commentable.concept_image_url(:thumb) 
				%>
				<%= link_to activity.trackable.commentable.title, activity.trackable.commentable %>
			<% else %>
				<%= #image_tag activity.trackable.commentable.image_url(:thumb) 
				%> 
				<%= link_to activity.trackable.commentable.name, activity.trackable.commentable %>
			<% end %>
			에 댓글을 달았습니다.
		</div>
	</div>
</div>
<div class="row">
	<div class="small-11 small-offset-1 columns" style="margin-bottom:20px;">
			<blockquote><%= activity.trackable.body %></blockquote>
			<%= image_tag ((activity.trackable.commentable.thumbnail && activity.trackable.commentable.thumbnail.image_url(:small)) || activity.trackable.commentable.image_url) %>
			<span class="pull-right" style=" color:#AAA;"><small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small></span>
		<% else %>
		이 작성한 댓글이 삭제되었습니다.
		<% end %>
	</div>
</div>