<h3><%= @channel_log.channel_loggable.title %></h3>
<h6 class="right"><%= @channel_log.channel.name %></h6>
    
<table>
  <th>Collected at</th>
  <th>View count</th>
  <th>Like count</th>
  <th>Comment count</th>
  <th>Share count</th>
  <% delta = @channel_log.channel_log_details.first %>
  <% @channel_log.channel_log_details.each_with_index do |detail, i| %>
  <tr>
    <td><%= detail.collected_at.to_date if detail.collected_at %></td>
    <td><%= number_with_delimiter(detail.view_count) %><%= " (+#{detail.view_count - delta.view_count})" if i != 0 %></td>
    <td><%= number_with_delimiter(detail.like_count) %><%= " (+#{detail.like_count - delta.like_count})" if i != 0 %></td>
    <td><%= number_with_delimiter(detail.comment_count) %><%= " (+#{detail.comment_count - delta.comment_count})" if i != 0 %></td>
    <td><%= number_with_delimiter(detail.share_count) %><%= " (+#{detail.share_count - delta.share_count})" if i != 0 %></td>
    
  </tr>
    <% delta = detail %>
  <% end %>
</table>

<%= link_to 'Edit', edit_channel_log_path(@channel_log) %> |
<%= link_to 'Destroy', @channel_log, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', channel_logs_path %>
