<% if !@video.nil? %>
<% page_thumb "#{@videos.order('view_count DESC').last.thumb_url}" %>
<% end %>
<% page_title "BEAUTYMEETS > #{@video_group.name}" %>

<% page_desc "Discovery, Learn, and Be beautiful in BEAUTYMEETS에서 #{@video_group.name} 이 만든 #{@videos.count}개의 비디오가 당신을 기다리고 있습니다. " %>

 <div class="row " style="">
	<div class="small-12 small-centered columns" style="">
		
			<div class="page-title">
				<h4 class="subheader " style="">
					<% if @video_group.image? %>
				            <%= image_tag @video_group.image_url(:small).to_s, :style => "width:44px; height:44px;" %>
				          <% else %>
				            <%= image_tag @video_group.thumb_url.to_s, :style => "width:44px; height:44px;" if @video_group.thumb_url.present? %>
				          <% end %>

					  		&nbsp;<%= @video_group.name %><%= link_to "EDIT", edit_video_group_path(@video_group) if user_signed_in? && current_user.can_update?(@video_group) %>
					<small>
						<%= "가장 많이 본 비디오" if params[:order] == 'popular' %>
						<%= "최근 업데이트된 비디오" if params[:order].nil? ||  params[:order] == 'newly' %>
					</small>
				</h4>
			</div>
			<div id="videos" class="btn-page-sort" style="">		
				<div style="background:#f4f4f4;">
			          <ul class="button-group radius" >
			          <li><a class="button small <%= 'secondary' if params[:order] == 'newly' %> sort"  data-sort="view_count" href=<%= "#{video_group_path(@video_group)}?order=popular" %>>인기순</a></li>
			          <li><a class="button small <%= 'secondary' if params[:order].nil? || params[:order] == 'popular' %> sort"  data-sort="published_at" href=<%= "#{video_group_path(@video_group)}?order=newly" %>>최신순</a></li>
			          </ul>
        			</div>
			</div>
	</div>
</div>

		<div style="margin:10px 0;">
    	<div class="fb-like" data-href="<%= video_group_url(@video_group) %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

<div class="row " style="">
	<div class="small-12 small-centered columns" style="">
			<div class="video-card-outter">
				<div class="row " style="">
					<%= render @videos %>
				</div>

			<div class="pagination-centered">
			<%= will_paginate @videos, previous_label: '<i class="fa fa-angle-left"></i>'.html_safe, next_label: '<i class="fa fa-angle-right"></i>'.html_safe , renderer: FoundationPagination::Rails %>
			</div>
			</div>
	</div>
</div>