<div class="row" >
  <div class="small-12 large-12 columns"> 
      <h3 style="letter-spacing:-0.5px; color:#999;"><small class="small ">브랜드 상세정보 </small></h3>
  </div>
</div>
<div class="row" style="">
  <div class="small-12 large-12 columns" > 
    <h4 class="subheader"><small><%= "#{@brand.company.try(:name)} > " if @brand.company.present? %><%= @brand.name %></small>
    </h4>
  </div>
</div>
    <% if user_signed_in? && current_user.can_update?(@brand) %>
      <span class="left"><i class="fa fa-cog fa-fw"></i><%= link_to "Edit", edit_brand_path(@brand) %></span>
    <% end %>
<div class="row" >
  <div class="small-12 medium-4 columns item-show-thumb" >
    <div class="item-show-thumb">
      <%= image_tag @brand.thumbnail.image_url(:medium) if @brand.thumbnail.present? %>
    </div>
  </div>
  <div class="small-12 medium-8 columns" >

          <h2 style=" letter-spacing:-1px;"><%= @brand.name %></h2>
          <div style="color: #666; margin-top:20px; font-size:14px;"><%= @brand.description.gsub(/\n/, '<br/>').html_safe if @brand.description.present? %>

          </div>  
          <div>
            <h4 class="subheader"><small>다른 이미지</small></h4>
            <%= render partial: 'pictures/gallery', locals: { thumb_size: :small} %>
          </div>
  </div>
</div>
<div class="row" style="">
  <div class="small-12 columns " >
    <%= render 'pictures/form' if (can? :manage, @brand)  %>
  </div>
</div>
<div class="row" >
  <div class="small-12 large-12 columns"> 
    <hr>
  </div>
</div>
<div class="row" >
  <div class="small-12 columns"> 
    <h5 class="subheader"><strong><%= @brand.name %></strong> 제품들이 사용된 튜토리얼&nbsp;(<%= @items.count %>)</h5>
    <% @items.each do |item| %>
      <% @tutorials = item.tutorials.order("view_count DESC") %>
      <div class="row">
        <div class="small-12 columns">
          <h6 class="subheader"><%= link_to image_tag(item.try(:thumbnail).image_url(:small), :class => "th", :style => "width:40px; height:40px;"), item_path(item) if item.thumbnail.present? %>&nbsp;<strong><%= link_to item.name, item_path(item) %></strong>&nbsp;(<%= @tutorials.count %>)
          </h6>
          
          <%= render partial: @tutorials %>
        </div>
      </div>
    <% end %>    
  </div>
</div>

