
<div class="section active" id="section0" style="">
	<div class="left bm_introduction" style="">
		<%= image_tag "/assets/about_intro_desc.png", :style => "height: 235px; width:auto;" %>
	</div>
</div>

<div class="section" id="section1" style="">
		<div class="app_introduction">
			<div style="width:100%; text-align:left;">
				<%= image_tag "/assets/about_app_desc.png", :style => "height: 235px; width:auto;" %>
			</div>
			<div style="width:100%; text-align:left;">
				<%= link_to image_tag("/assets/about_btn_join.png", :style => "height: 38px; width:auto;") , new_user_registration_path %>
				<%= link_to image_tag("/assets/about_btn_googleplay.png", :style => "height: 38px; width:auto;") , "https://play.google.com/store/apps/details?id=com.beautymeets.app" %>
			</div>
		</div>

</div>

<div class="section" id="section2" style=" ">
	<div class="tutorial_introduction text-left">
		<%= image_tag "/assets/about_tutorial_desc.png", :style => "height: 235px; width:auto;" %>
	</div>
</div>

<div class="section" id="section3" style=" ">
	<div class="beautyvideo_introduction">
		<%= image_tag "/assets/about_beautyvideo_desc.png", :style => "height: 235px; width:auto;" %>
	</div>
</div>

<div class="section" id="section4" style=" ">
	<div class="beautyclass_introduction">
		<%= image_tag "/assets/about_beautyclass_desc.png", :style => "height: 235px; width:auto;" %>
	</div>
</div>

<div class="section " id="section5" style="">
	<%= image_tag "/assets/about_contactus.png",:class => "show-for-medium-up", :style => "margin:0 auto; width:350px; height:auto;" %>		
	<%= image_tag "/assets/about_contactus_mobile.png", :class => "show-for-small-only", :style => "margin:0 auto; width:234px; height:auto;" %>		
	<hr style="margin:40px auto;  width: 80px; height:2px; background:#CCC;">
		<p style="margin-bottom:2rem;">
			<%= link_to image_tag("/assets/about_btn_facebook.png", :style => "width:55px; height:auto;"), "http://facebook.com/BEAUTYMEETS.page" %>
			&nbsp;<%= link_to image_tag("/assets/about_btn_twitter.png", :style => "margin:0 20px; width:55px; height:auto;"), "http://twitter.com/BEAUTYMEETS" %>
			&nbsp;<%= link_to image_tag("/assets/about_btn_blog.png", :style => "width:55px; height:auto;"), "http://blog.BEAUTYMEETS.com" %>
		</p>
		<p>
			<%= image_tag "/assets/about_email.png", :style => "width:23px; height:auto; margin-bottom:4px;" %>
			<span style="font-size:1.2rem; color:#aaa;">hellobeauty@reallplay.com</span>
		</p>
		</div>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>  

<!--[if IE]>
	<script type="text/javascript">
		var console = { log: function() {} };
	</script>
<![endif]-->
<script type="text/javascript">
	$(document).ready(function() {
		$.fn.fullpage({
			/*  verticalCentered: false, */
			loopTop: true,
			loopBottom: true
    });
	});
</script>