<aside class="left-off-canvas-menu" >
  <ul class="off-canvas-list">
    <li>
      <div id="user_nav" class="text-center">
        <% if user_signed_in? %>
            <% 
            if (current_user.has_role? :member) 
            %>
              <%= link_to image_tag(current_user.image_url(:medium), :class => "circular", :style => "width:128px; height:128px;") if current_user.image.present? %>
              <span style="color:#FFF;"> Hi, <%=  current_user.name || current_user.email  %></span>
              <strong><%= link_to "See Profile", member_path(current_user.profile) %></strong>
            <%
            elsif (current_user.has_role? :beautystar) 
            %>     
              <strong><%= link_to current_user.name || current_user.email, beautystar_path(current_user.profile) %></strong>
            <% 
            elsif  (current_user.has_role? :admin) 
              %>
              <%= link_to "Admin", admin_root_path %>
              <%
            else
            end
              %>
  
              <%= link_to "로그아웃", destroy_user_session_path, :class => "button secondary tiny", method: :delete  %>
            
        <% else %>
            <%= link_to "가입하기", new_user_registration_path %>
            <%= link_to "로그인하기", new_user_session_path %>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to "Tutorial", tutorials_path %>
      <%= link_to "BeautyClass", beautyclasses_path %>
      <%= link_to "BeautyVideo", videos_path %>
    </li>
  </ul>
</aside>