  <header id="header" class=" header header--fixed animated slideDown" role="banner" >
    <div class="container" >

      <nav id="nav" class="top-bar nav-wrapper" role="navigation" data-topbar>

        <ul class="title-area" >
          <!-- Title Area -->
          <li class="name" >
            <h1><a href="/"><%= image_tag "/assets/logo_top_white@2x.png", :style => "width:166px; height:20px;" %></a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section" >
          <!-- Right Nav Section -->
          <ul class="nav right" >
            <li class="nav__item " >
              <% if @notifications && (@notifications.count > 0) %>
                <%= link_to "<i class='fa fa-bell fa-fw'></i>#{@notifications.count}".html_safe, member_notifications_path(current_user.profile) if current_user.has_role? :member %>   
              <% else %>
                <%= link_to "<i class='fa fa-bell-o fa-fw'></i>".html_safe, member_notifications_path(current_user.profile) if user_signed_in? && (current_user.has_role? :member) %>   
              <% end %>              
            </li>

            <li ><%= link_to "Tutorial", tutorials_path, {:style => "font-weight:bold; color:#elelel;"} %></li>

            <li ><%= link_to "BeautyClass", beautyclasses_path, {:style => "font-weight:bold;color:#elelel;"} %></li>

            <li ><%= link_to "BeautyVideo", videos_path, {:style => "font-weight:bold; color:#elelel;"} %></li>

            <% if user_signed_in? %>             
                <li class="has-dropdown"><a href="#" style="color:#71bdc2;">Hi, <%= current_user.name || current_user.email %></a>
                  <ul class="dropdown">
                    <li><label>Profile</label></li>
                    <li>
                  <% if current_user.has_role? :admin %>
                    <a href="/admin"><i class="fa fa-rocket fa-fw"></i> Admin</a>
                    <%= link_to '<i class="fa fa-plus fa-fw"></i> Item Add</a>'.html_safe, new_item_path %>
                  <% else %>
                    <%= link_to "<i class='fa fa-square fa-fw'></i> My Page".html_safe, member_path(current_user.profile) %>
                  <% end %>
                    </li>
                    <li class="divider"></li>
                    <li class="hide-for-small"><label>Account</label></li>
                    <li><%= link_to "<i class='fa fa-key fa-fw'></i> 계정정보 수정".html_safe, edit_user_registration_path(current_user) %></li>
                    <li><%= link_to "<i class='fa fa-power-off fa-fw'></i> Logout".html_safe, destroy_user_session_path, :method => :delete %></li>
                    <li class="divider"></li>
                  </ul>
                </li>   
            <% else %>        
              <li >
                <a href="<%= new_user_registration_path %>" style="color:#71bdc2;">회원가입</a>
              </li>      
              <li >
                <a href="<%= new_user_session_path %>" >로그인</a>
              </li>      
            <% end %>
            
          </ul>
          </selection>
        </nav>
        
    </div>
  </header>