<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.0/modernizr.min.js"></script>

    <!-- facebook share info set start -->
    <meta http-equiv="content-language" content="ko">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta property="og:site_name" content="BEAUTYMEETS" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<%=  yield(:page_title) || 'BEAUTYMEETS' %>" />
    <meta property="og:description" content="<%= yield(:page_desc) || 'BEAUTYMEETS' %>" />
    <meta property="og:image" content="<%= yield(:page_thumb) || 'http://www.beautymeets.com/assets/fb_thumb.png' %>" />
    
    <link rel="image_src" href="<%= yield(:page_thumb) || 'http://www.beautymeets.com/assets/fb_thumb.png' %>" />
    <!-- facebook share infor set end -->

    <title><%= yield(:page_title) || "BEAUTYMEETS" %></title>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

    <!-- Foundation 3 for IE 8 and earlier -->
    <!--[if lt IE 9]>
      <%= #stylesheet_link_tag "foundation3/foundation.min.css" 
      %>
      <%= #stylesheet_link_tag "foundation3/app.css" 
      %>
    <![endif]-->
    <!-- Foundation 4 for IE 9 and earlier -->
    <!--[if gt IE 8]><!-->
      <%= #stylesheet_link_tag "foundation4/normalize.css" 
      %>
      <%= #stylesheet_link_tag "foundation4/foundation.min.css" 
      %>

    <!--<![endif]-->

    <%= stylesheet_link_tag    "application" %>
    <%= #javascript_include_tag "vendor/modernizr" 
    %>

    <%= csrf_meta_tags %>

    <style type="text/css">
      html, body {
          background-color: #f5f5f5;
          height: 100%; 
          font-size: 0.9rem;
      } 

      p {
          font-size: 0.9rem;        
      }

      .breadcrumbs a, .breadcrumbs  span {
        color: #FFB017;
      }
.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}
h1{
  font-size: 5em; 
  font-family: arial,helvetica;
}
.section{
  text-align:center;
}

      
    </style>
  
    <%= render :partial => "layouts/ga" if Rails.env.production? && !(user_signed_in? && (current_user.has_role? :admin))  %>
  </head>

  <body>

    <%= render :partial => "layouts/fb" if Rails.env.production?   %>

    <div class="">
      <nav class="top-bar show-for-medium-up" data-topbar >
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><%= link_to image_tag("/assets/logo_top_white@2x.png", :style => "min-height:16px; max-height:20px; height:auto;"), "/" %></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left"></ul>
          <!-- Right Nav Section -->
          <ul class="right">
            <li>
              <% if @notifications && (@notifications.count > 0) %>
                <%= link_to "<i class='fa fa-bell fa-fw'></i>#{@notifications.count}".html_safe, member_notifications_path(current_user.profile) if current_user.has_role? :member %>   
              <% else %>
                <%= link_to "<i class='fa fa-bell-o fa-fw'></i>".html_safe, member_notifications_path(current_user.profile) if user_signed_in? && (current_user.has_role? :member) %>   
              <% end %>              
            </li>

            <li class="divider "></li>
          
            <li><%= link_to "Tutorial", tutorials_path, {:style => "font-weight:bold; color:#elelel;"} %></li>
            <li class="divider "></li>
            <li><%= link_to "Beauty Class", beautyclasses_path, {:style => "font-weight:bold;color:#elelel;"} %></li>
            <li class="divider "></li>
            <li><%= link_to "BeautyVideo", videos_path, {:style => "font-weight:bold; color:#elelel;"} %></li>
            <li class="divider "></li>
            <% if user_signed_in? %>             
                <li class="has-dropdown"><a href="#" style="color:#FEDAF7;">Hi, <%= current_user.name || current_user.email %></a>
                  <ul class="dropdown">
                    <li><label>Profile</label></li>
                    <li>
                  <% if current_user.has_role? :admin %>
                    <a href="/admin"><i class="fa fa-square fa-fw"></i> Admin</a>
                  <% else %>
                    <%= link_to "<i class='fa fa-square fa-fw'></i> My Page".html_safe, member_path(current_user.profile) %>
                  <% end %>
                    </li>
                    <li class="divider"></li>
                    <li class="hide-for-small"><label>Account</label></li>
                    <li><%= link_to "<i class='fa fa-key fa-fw'></i> 정보수정".html_safe, edit_user_registration_path(current_user) %></li>
                    <li><%= link_to "<i class='fa fa-power-off fa-fw'></i> Logout".html_safe, destroy_user_session_path, :method => :delete %></li>
                    <li class="divider"></li>
                  </ul>
                </li>   
            <% else %>        
              <li >
                <a href="<%= new_user_registration_path %>" style="color:#FEDAF7;">회원가입</a>
              </li>      
              <li style=" ">
                <a href="<%= new_user_session_path %>" >로그인</a>
              </li>      
            <% end %>
            
          </ul>
        </section>
      </nav>
    </div>

    <div class="off-canvas-wrap" >
      <div class="inner-wrap">

        <%= render "layouts/tab_bar" %>

        <%= render "layouts/left_off_canvas_menu" %>
    
        <section class="main-section" >
          <!-- content goes here -->

          <% flash.each do |name, msg| %>
            <div data-alert class="alert-box alert-<%= name == :notice ? "success" : "error" %>">
              <%= msg  %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
            <div class="row" >
              <div class="small-12 small-centered columns" >
                  
                  <%= yield %>

                  <%= render "layouts/to_top" %>

                  <%= yield :scripts %>
                  <!-- dif for static footer-position -->

                <%= render "layouts/footer" %>
                
              </div>
            </div>

        </section>

        <a class="exit-off-canvas"></a>

      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <!-- Foundation 3 for IE 8 and earlier -->
    <!--[if lt IE 9]>
        <%= #javascript_include_tag "foundation3/foundation.min.js" 
        %>
        <%= #javascript_include_tag "foundation3/app.js" 
        %>
    <![endif]-->

    <!-- Foundation 4 for IE 9 and later -->
    <!--[if gt IE 8]>
        <%= #javascript_include_tag "foundation4/foundation.min.js" 
        %>
        <script>
            $(document).foundation();
        </script>
    <![endif]-->


    <script>
    // Include the UserVoice JavaScript SDK (only needed once on a page)
    UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/2nG9oWkRXilakLvbLiyw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

    //
    // UserVoice Javascript SDK developer documentation:
    // https://www.uservoice.com/o/javascript-sdk
    //

    // Set colors
    UserVoice.push(['set', {
      accent_color: '#448dd6',
      trigger_color: 'white',
      trigger_background_color: 'rgba(46, 49, 51, 0.6)'
    }]);

    // Identify the user and pass traits
    // To enable, replace sample data with actual user traits and uncomment the line
    UserVoice.push(['identify', {
      //email:      'john.doe@example.com', // User’s email address
      //name:       'John Doe', // User’s real name
      //created_at: 1364406966, // Unix timestamp for the date the user signed up
      //id:         123, // Optional: Unique id of the user (if set, this should not change)
      //type:       'Owner', // Optional: segment your users by type
      //account: {
      //  id:           123, // Optional: associate multiple users with a single account
      //  name:         'Acme, Co.', // Account name
      //  created_at:   1364406966, // Unix timestamp for the date the account was created
      //  monthly_rate: 9.99, // Decimal; monthly rate of the account
      //  ltv:          1495.00, // Decimal; lifetime value of the account
      //  plan:         'Enhanced' // Plan name for the account
      //}
    }]);

    // Add default trigger to the bottom-right corner of the window:
    UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
    UserVoice.push(['autoprompt', {}]);
    </script>
  </body>
</html>