<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, maximum-scale=1.0, width=device-width, initial-scale=1.0" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.0/modernizr.min.js"></script>

		<!-- facebook share info set start -->
		<meta http-equiv="content-language" content="ko">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="naver-site-verification" content="67a5871ca393cbe6cf3c9081eec166a1569b5431"/>
		<meta name="google-site-verification" content="j3j2YWSxAtI3QW9T2-tqQqZpO10ys9TPz05BQr9oLV0" />
    	<meta name="author" content="ReAllPlay">
		<meta name="google-play-app" content="app-id=com.reallplay.beautymeets.app">
    	<meta name="apple-itunes-app" content="app-id=962686789">
		<link name="apple-touch-icon" rel="apple-touch-icon" href="apple-touch-icon.png">
		<meta property="og:site_name" content="BEAUTYMEETS" />
		<meta property="og:url" content="<%= request.original_url %>" />
		<meta property="og:title" content="<%=  yield(:page_title) || 'BEAUTYMEETS' %>" />
		<meta property="og:description" content="<%= yield(:page_desc) || 'BEAUTYMEETS' %>" />
		<meta property="og:image" content="<%= yield(:page_thumb) || 'http://www.beautymeets.com/assets/fb_thumb.png' %>" />
		
		<link rel="image_src" href="<%= yield(:page_thumb) || 'http://www.beautymeets.com/assets/fb_thumb.png' %>" />
		<!-- facebook share infor set end -->
		
		<title><%= yield(:page_title) || "BEAUTYMEETS" %></title>

		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
			<script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
			<script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
		<![endif]-->

		<!-- Foundation 3 for IE 8 and earlier -->
		<!--[if lt IE 9]>
			<%= #stylesheet_link_tag "foundation3/foundation.min.css" 
			%>
			<%= #stylesheet_link_tag "foundation3/app.css" 
			%>
		<![endif]-->
		<!-- Foundation 4 for IE 9 and earlier -->
		<!--[if gt IE 8]><!-->
			<%= #stylesheet_link_tag "foundation4/normalize.css" 
			%>
			<%= #stylesheet_link_tag "foundation4/foundation.min.css" 
			%>

		<!--<![endif]-->

		<%= stylesheet_link_tag    "application" %>
		<%= auto_discovery_link_tag :atom, "/feed" %>
		<%= auto_discovery_link_tag :rss, "/feed.rss" %>
		<%= #javascript_include_tag "vendor/modernizr" 
		%>

		<%= csrf_meta_tags %>

		<style type="text/css">
			html, body {
					background-color: #f4f4f4;
					height: 100%; 
					font-size: 0.9rem;
					padding-top:1.45rem;
					font-family: "Nanum Gothic", sans-serif;
			} 

			p, h1, h2, h3, h4, h5, h6, ul li, dl dd, a {
				font-family: "Nanum Gothic", sans-serif;
			}

			p {
					font-size: 0.9rem;        
			}

			a {
				color: #589B9F; 
			}
			.wrap{
				margin-left: auto;
				margin-right: auto;
				width: 960px;
				position: relative;
			}
			.section{
				text-align:center;
			}
		</style>
		<%= render :partial => "layouts/ga" if Rails.env.production? && !(user_signed_in? && (current_user.has_role? :admin))  %>
	</head>

	<body>
		<div style="text-align:center">업데이트 중입니다. <br/> 감사합니다.<div>
		<%= javascript_include_tag "application" %>

	</body>
</html>