<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, maximum-scale=1.0, width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.0/modernizr.min.js"></script>

    <!-- facebook share info set start -->
    <meta http-equiv="content-language" content="ko">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta property="og:site_name" content="BEAUTYMEETS" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<%=  yield(:page_title) || 'BEAUTYMEETS' %>" />
    <meta property="og:description" content="<%= yield(:page_desc) || 'BEAUTYMEETS' %>" />
    <meta property="og:image" content="<%= yield(:page_thumb) || 'http://www.beautymeets.com/assets/fb_thumb.png' %>" />
    
    <link rel="image_src" href="<%= yield(:page_thumb) || 'http://www.beautymeets.com/assets/fb_thumb.png' %>" />
    <!-- facebook share infor set end -->

    <title><%= yield(:page_title) || "BEAUTYMEETS" %></title>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

    <!-- Foundation 3 for IE 8 and earlier -->
    <!--[if lt IE 9]>
      <%= #stylesheet_link_tag "foundation3/foundation.min.css" 
      %>
      <%= #stylesheet_link_tag "foundation3/app.css" 
      %>
    <![endif]-->
    <!-- Foundation 4 for IE 9 and earlier -->
    <!--[if gt IE 8]><!-->
      <%= #stylesheet_link_tag "foundation4/normalize.css" 
      %>
      <%= #stylesheet_link_tag "foundation4/foundation.min.css" 
      %>

    <!--<![endif]-->

    <%= stylesheet_link_tag    "application" %>
    <%= #javascript_include_tag "vendor/modernizr" 
    %>

    <%= csrf_meta_tags %>

    <style type="text/css">
      html, body {
          background-color: #f4f4f4;
          height: 100%; 
          font-size: 0.9rem;
          padding-top:1.45rem;
          font-family: "Nanum Gothic", sans-serif;
      } 

      p, h1, h2, h3, h4, h5, h6 {
        font-family: "Nanum Gothic", sans-serif;
      }

      p {
          font-size: 0.9rem;        
      }

      a {
        color: #589B9F; 

      }
      .wrap{
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        position: relative;
      }
      .section{
        text-align:center;
      }

      
    </style>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script type="text/javascript">
      WebFont.load({

        // For google fonts
        google: {
          families: ['Droid Sans', 'Droid Serif']
        }
        // For early access or custom font
        custom: {
            families: ['Nanum Gothic'],
            urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
        }

      });
    </script>
    <%= render :partial => "layouts/ga" if Rails.env.production? && !(user_signed_in? && (current_user.has_role? :admin))  %>
  </head>

  <body>
    <%= render :partial => "layouts/fb" if Rails.env.production?   %>

    <%= render "layouts/top_nav" %>

    <% flash.each do |name, msg| %>
      <div data-alert class="alert-box alert-<%= name == :notice ? "success" : "error" %>">
        <%= msg  %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="row" >
      <div class="small-12 small-centered columns ">
        <%= yield %>

        <%= render "layouts/to_top" %>

        <%= yield :scripts %>
        <!-- dif for static footer-position -->

        <%= render "layouts/footer" %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <!-- Foundation 3 for IE 8 and earlier -->
    <!--[if lt IE 9]>
        <%= #javascript_include_tag "foundation3/foundation.min.js" 
        %>
        <%= #javascript_include_tag "foundation3/app.js" 
        %>
    <![endif]-->

    <!-- Foundation 4 for IE 9 and later -->
    <!--[if gt IE 8]>
        <%= #javascript_include_tag "foundation4/foundation.min.js" 
        %>
        <script>
            $(document).foundation();
        </script>
    <![endif]-->

    <script type="text/javascript">
      $('#item-carousel').elastislide();      
      $('#item-carousel-tutorial').elastislide();  
    </script>     
    <script>
      $('.slider').glide();
    </script>
    

    <script type="text/javascript">
      (function() {
          new Headroom(document.querySelector("header"), {
              tolerance: 10,
              offset : 200,
              classes: {
                initial: "animated",
                pinned: "slideDown",
                unpinned: "slideUp"
              }
          }).init();

      }());

    </script>
    <script>
        (function(window, document, undefined) {
            window.flexVerticalCenter( document.getElementsByClassName('vertical-center'));
        })(window, document);
    </script>

    <script type="text/javascript">
    $(".accordion").on("click", "dd", function (event){
            

        if($(this).hasClass('active')){
          $("dd.active").removeClass('active').find(".content").slideUp("fast");    
          $(this).find("a").find("i").toggleClass("fa-angle-down fa-angle-right");  
        }
        else {
          // 다른 dropdown된 아코디언을 닫음
          $("dd.active").removeClass('active').find(".content").slideUp("fast");
          $("dd").find("a").find("i").removeClass("fa-angle-down");
          $("dd").find("a").find("i").addClass("fa-angle-right");

          // 이번 아코디언을 dropdown
          $(this).addClass('active').find(".content").slideToggle("fast");
          $(this).find("a").find("i").toggleClass("fa-angle-right fa-angle-down");
        }

    });

    $(".tabs").on("click", "dd", function (event){

        if($(this).hasClass('active')){
          $(this).find("a").css("background", "url('/assets/tutorial_header_bg.jpg')");
        }
        else {
          $("dd.active").removeClass('active').find("a").css("background", "");
          $(this).find("a").css("background", "url('/assets/tutorial_header_bg.jpg')");
        }

    });


    </script>
    <script>
    // Include the UserVoice JavaScript SDK (only needed once on a page)
    UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/2nG9oWkRXilakLvbLiyw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

    //
    // UserVoice Javascript SDK developer documentation:
    // https://www.uservoice.com/o/javascript-sdk
    //

    // Set colors
    UserVoice.push(['set', {
      accent_color: '#448dd6',
      trigger_color: 'white',
      trigger_background_color: 'rgba(46, 49, 51, 0.6)'
    }]);

    // Identify the user and pass traits
    // To enable, replace sample data with actual user traits and uncomment the line
    UserVoice.push(['identify', {
      //email:      'john.doe@example.com', // User’s email address
      //name:       'John Doe', // User’s real name
      //created_at: 1364406966, // Unix timestamp for the date the user signed up
      //id:         123, // Optional: Unique id of the user (if set, this should not change)
      //type:       'Owner', // Optional: segment your users by type
      //account: {
      //  id:           123, // Optional: associate multiple users with a single account
      //  name:         'Acme, Co.', // Account name
      //  created_at:   1364406966, // Unix timestamp for the date the account was created
      //  monthly_rate: 9.99, // Decimal; monthly rate of the account
      //  ltv:          1495.00, // Decimal; lifetime value of the account
      //  plan:         'Enhanced' // Plan name for the account
      //}
    }]);

    // Add default trigger to the bottom-right corner of the window:
    UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
    UserVoice.push(['autoprompt', {}]);

    // Set the locale
    UserVoice.push(["set", "locale", "kr"]);
    </script>
  </body>
</html>