	
<div class="row" >
	<div class="small-12 columns show-for-small-only text-center" style="padding:20px 10px 10px 10px;" >
		<%= image_tag(@member.user.image.present? ? @member.user.image_url(:small) : "/assets/user_avatar_female.png", :style => "width:90px; height:90px; margin-bottom:10px;") %>
		<h5><span style="color:#CCC;">Welcome to BEAUTYMEETS</span></h5>
		<h2 class="subheader"><%= @member.user.name.present? ? @member.user.name : @member.user.email %></h2>
		
	</div>
	<div class="small-12 columns show-for-medium-up " style="margin-bottom:10px;">
		<div class="left" style="">
			<%= image_tag(@member.user.image.present? ? @member.user.image_url(:small) : "/assets/user_avatar_female.png", :style => "width:90px; height:90px;") %>
		</div>
		<div class="left">
			<h4 class="subheader" style="padding:10px;">
				<span style="color:#CCC;">Welcome to BEAUTYMEETS</span><br/>
				<%= @member.user.name.present? ? @member.user.name : @member.user.email %>
			</h4>
		</div>
	</div>
	<div class="small-12 columns ">
		<div class="panel show-for-medium-up" style="border:0; height:30px; padding: 8px 10px;">

	  			<div class="left text-center" style="width:23%;font-size:0.9rem;font-weight:bold;">
	  				<%= link_to "Profile", member_path(@member), :style => (action_name == 'show' ?  "color:#68F0D8;" :   "color:#AAA;" ) %>
	  			</div>
	  			<div class="left text-center" style="color:#AAA;">|</div>
	  			<div class="left text-center" style="width:26%;font-size:0.9rem;font-weight:bold;">
	  				<%= link_to "Notification", member_notifications_path(@member), :style => (action_name == 'notifications' ?  "color:#68F0D8;" :   "color:#AAA;" ) %>
	  			</div>
	  			<div class="left text-center" style="color:#AAA;">|</div>
	  			<div class="left text-center" style="width:26%;font-size:0.9rem;font-weight:bold;">
	  				<%= link_to "Bookmark", member_bookmarks_path(@member), :style => (action_name == 'bookmarks' ?  "color:#68F0D8;" :   "color:#AAA;" )  %>
	  			</div>
	  			<div class="left text-center" style="color:#AAA;">|</div>
	  			<div class="left text-center" style="width:22%;font-size:0.9rem;font-weight:bold;">
	  				<%= link_to "Beautyclass", member_beautyclasses_path(@member), :style => (action_name == 'beautyclasses' ?  "color:#68F0D8;" :   "color:#AAA;" )  %>
	  			</div>
		</div>
		<div class="panel show-for-small-only text-center" style="border:0; margin: 20px -10px 20px -10px; padding:20px 10px 60px 10px;">
	  		<div class="text-center left" style="width:25%; font-size:0.785rem;">
	  			<i class="fa fa-user fa-lg fa-fw" style="color:#999; margin:10px 20px 10px 20px;"></i><br/>
	  			<%= link_to "Profile", member_path(@member) %>
	  		</div>
	  		<div class="text-center left" style="width:25%; font-size:0.785rem;">
	  			<i class="fa fa-bell-o fa-lg fa-fw" style="color:#999; margin:10px 20px 10px 20px;"></i><br/>
	  			<%= link_to "Notication", member_notifications_path(@member) %>
	  		</div>
	  		<div class="text-center left" style="width:25%; font-size:0.785rem;">
	  			<i class="fa fa-star-o fa-lg fa-fw" style="color:#999; margin:10px 20px 10px 20px;"></i><br/>
	  			<%= link_to "Bookmark", member_bookmarks_path(@member)  %>
	  		</div>
	  		<div class="text-center left" style="width:25%; font-size:0.785rem;">
	  			<i class="fa fa-ticket fa-lg fa-fw" style="color:#999; margin:10px 20px 10px 20px;"></i><br/>
	  			<%= link_to "Beautyclass", member_beautyclasses_path(@member)  %>
	  		</div>
  		</div>	
  	</div>
</div>