<%= render 'member_header' %>

<div class="row">
	<div class="small-12 columns" style="background:#FFF;  padding:20px;">
		<%= render 'sub_nav' %>
		<h5 class="subheader"><%= @checkouts.count %> Beautyclasses you've taken.&nbsp;<small>View more <%= link_to "Beautyclasses.", beautyclasses_path %></small></h5> 
		<% @checkouts.each do |co| %>
			<%= render partial: 'beautyclasses/beautyclass', locals: { beautyclass: co.beautyclass } %>
		<% end %>
	</div>
</div>