<%= render 'member_header' %>

<div class="row" >
	<div class="small-12 small-centered columns" style="background:#FFF; padding:20px;">
		<%= render 'sub_nav' %>


		<%= link_to '프로필 수정', edit_user_registration_path(@member.user), :class => "right button radius " if (user_signed_in? && current_user.id == @member.user.id) %>
		<table style="border:0; width:100%;">
			<tbody>
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						이름
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<%= @member.user.name %>
					</td>
				</tr >
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						E-mail
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<%= @member.user.email %>
					</td>
				</tr>
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						성별
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<%= @member.gender.name if @member.gender.present? %>
						<%= link_to '수정', edit_member_path(current_user.profile), :class => "right "  if (user_signed_in? && current_user.id == @member.user.id) %>
					</td>
				</tr>
				<tr>
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						생년월일
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<%= best_in_place @member, :year_of_birth, type: :integer if @member.year_of_birth.present?%>
						<%= link_to '수정', edit_member_path(current_user.profile), :class => "right"  if (user_signed_in? && current_user.id == @member.user.id) %>
					</td>
				</tr>
			</tbody>
		</table>

		<%= link_to '피부정보 수정', edit_member_path(current_user.profile), :class => "right button radius"  if (user_signed_in? && current_user.id == @member.user.id) %>

		<table style="border:0; width:100%;">
			<tbody>
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						피부 타입
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<ul class="inline-list" style="margin-bottom:0;">
						<% @member.skin_type_list.each do |t| %>
							<li><span class="label secondary radius"><%= t %></span></li>
						<% end %>
						</ul>
					</td>
				</tr >
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						피부 톤
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<ul class="inline-list" style="margin-bottom:0;">
							<% @member.skin_tone_list.each do |t| %>
								<li><span class="label secondary radius"><%= t %></span></li>
							<% end %>
						</ul>
					</td>
				</tr >
				<tr style="">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						피부 고민
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<ul class="inline-list" style="margin-bottom:0;">
							<% @member.skin_trouble_list.each do |t| %>
								<li><span class="label secondary radius" ><%= t %></span></li>
							<% end %>
						</ul>
					</td>
				</tr >
			</tbody>
		</table>
		<%= link_to "로그아웃", destroy_user_session_path, :class => "right ", method: :delete  %>
	</div>
</div>