
<div class="row">
	<div class="small-12 medium-3 columns text-right show-for-medium-up">
		<%= render 'side_nav' %>
	</div>
	<div class="small- medium-9 columns" style="background:#FFF;">
		<%= render 'sub_nav' %>
		<h4>프로필</h4>
		<h6><strong>로긴 정보</strong></h6>
		<%= link_to '수정', edit_user_registration_path, :class => "right button tiny secondary" if (can? :manager, current_user) %>
		<ul class="square">
			<li>User name : <%= @member.user.name %></li>
			<li>Email : <%= @member.user.email %>&nbsp;</li>
		</ul>
		<h6><strong>기본 정보</strong></h6>
		<%= link_to '수정', edit_member_path(current_user.profile_id), :class => "right button tiny secondary"  if (can? :manager, @member) %>
		<ul class="square">
			<li>성별 <%= @member.gender.name if @member.gender.present? %></li>
			<li>출생년도 <%= best_in_place @member, :year_of_birth, type: :integer if @member.year_of_birth.present?%></li>
		</ul>
		<hr>
		<%= link_to '프로필 수정', edit_member_path(current_user.profile_id), :class => "right button tiny secondary"  if (can? :manager, @member) %>
		<h4>피부 타입</h4>		
		<ul class="inline-list">
		<% @member.skin_type_list.each do |t| %>
			<li><span class="label secondary radius"><%= link_to t, tag_path(t) %></span></li>
		<% end %>
		</ul>
		<h4>피부 톤</h4>
		<ul class="inline-list">
			<% @member.skin_tone_list.each do |t| %>
				<li><span class="label secondary radius"><%= link_to t, tag_path(t) %></span></li>
			<% end %>
		</ul>
		<h4>피부 고민</h4>
		<ul class="inline-list">
			<% @member.skin_trouble_list.each do |t| %>
				<li><span class="label secondary radius"><%= link_to t, tag_path(t) %></span></li>
			<% end %>
		</ul>
		<hr>
		<%= link_to "로그아웃", destroy_user_session_path, :class => "right button secondary", method: :delete  %>
	</div>
</div>