<%= render 'member_header' %>

<div class="row" >
	<div class=" small-12 small-centered columns" style="">
		<div class="member-body">
		<%= render 'sub_nav' %>

		<%= link_to '프로필 수정', edit_user_registration_path(@member.user), :class => "show-for-medium-up right button radius ", :style => "padding: 10px 25px; font-family: 'Nanum Gothic', sans-serif;" if (user_signed_in? && current_user.id == @member.user.id) %>
		<table style="border:0; width:100%;">
			<tbody>
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						<%= link_to "이름", edit_user_registration_path(current_user) %>
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<%=  @member.user.name %>
					</td>
				</tr >
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						E-mail
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<%= @member.user.email %>
					</td>
				</tr>
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						<%= link_to "성별", edit_member_path(current_user.profile) %>
					</td>
					<td  style="background:#FFF; padding-left:20px; ">
						<%= @member.gender.name if @member.gender.present? %>
					</td>
				</tr>
				<tr>
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						<%= link_to "출생년도", edit_member_path(current_user.profile) %>
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<%= @member.year_of_birth %>
					</td>
				</tr>
			</tbody>
		</table>

		<%= link_to '피부정보 수정', edit_member_path(current_user.profile), :class => "show-for-medium-up  right button radius", :style => "padding: 10px 25px; font-family: 'Nanum Gothic', sans-serif;"  if (user_signed_in? && current_user.id == @member.user.id) %>

		<table style="border:0; width:100%;">
			<tbody>
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						<% if (user_signed_in? && current_user.id == @member.user.id) %>
							<%= link_to "피부 타입", edit_member_path(current_user.profile) %>
						<% else %>
							피부 타입
						<% end %>
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<ul class="inline-list" style="margin-bottom:0;">
						<% @member.skin_type_list.each do |t| %>
							<li><span class="  "><%= t %></span></li>
						<% end %>
						</ul>
					</td>
				</tr >
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						<% if (user_signed_in? && current_user.id == @member.user.id) %>
							<%= link_to "피부 밝기", edit_member_path(current_user.profile) %>
						<% else %>
							피부 밝기
						<% end %>
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<ul class="inline-list" style="margin-bottom:0;">
							<% @member.skin_brightness_list.each do |t| %>
								<li><span class=""><%= t %></span></li>
							<% end %>
						</ul>
					</td>
				</tr >
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						<% if (user_signed_in? && current_user.id == @member.user.id) %>
							<%= link_to "피부 톤", edit_member_path(current_user.profile) %>
						<% else %>
							피부 톤
						<% end %>
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<ul class="inline-list" style="margin-bottom:0;">
							<% @member.skin_tone_list.each do |t| %>
								<li><span class=""><%= t %></span></li>
							<% end %>
						</ul>
					</td>
				</tr >
				<tr style="border-bottom:1px #EEE solid">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						<% if (user_signed_in? && current_user.id == @member.user.id) %>
							<%= link_to "피부 컬러", edit_member_path(current_user.profile) %>
						<% else %>
							피부 컬러
						<% end %>
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<ul class="inline-list" style="margin-bottom:0;">
							<% @member.skin_color_list.each do |t| %>
								<li><span class=""><%= t %></span></li>
							<% end %>
						</ul>
					</td>
				</tr >
				<tr style="">
					<td style="background:#F9F9F9; text-align:center; width:90px;">
						<% if (user_signed_in? && current_user.id == @member.user.id) %>
							<%= link_to "피부 고민", edit_member_path(current_user.profile) %>
						<% else %>
							피부 고민
						<% end %>
					</td>
					<td  style="background:#FFF; padding-left:20px;">
						<ul class="inline-list" style="margin-bottom:0;">
							<% @member.skin_trouble_list.each do |t| %>
								<li><span class="" ><%= t %></span></li>
							<% end %>
						</ul>
					</td>
				</tr >
			</tbody>
		</table>
		<%= link_to "로그아웃", destroy_user_session_path,  :class => "right button secondary radius", :style => "padding: 10px 25px; font-family: 'Nanum Gothic', sans-serif;", method: :delete  if user_signed_in? %>
		</div>
	</div>
</div>